.box1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ledge {
  flex: 1;
  width: calc(100% - 20rem - 1rem);
  padding-top: 1rem;
  padding-bottom: 1rem;

  .left {
    width: 100%;
    overflow: hidden;
    padding: 1rem;
    background-color: var(--bg-second);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
  }

  .ce {
    width: 100%;
    height: 170px;
    border-bottom: 1px solid #ccc;
    display: block;
    background: white;
    padding-left: 10px;
    background-color: var(--bg-second);
    .ce1 {
      height: 50px;
      line-height: 50px;
      display: flex;
      color: var(--second-text-color);

      h3 {
        font-weight: bold;
        margin-right: 10px;
        color: var(--second-text-color);
      }

      span {
        margin-left: 10px;
        color: #ccc;
      }
    }

    .ce2 {
      display: flex;

      img {
        width: 190px;
        height: 100px;
        padding-right: 10px;
      }

      div {
        width: 390px;
        height: 100px;
        display: flex;
        flex-direction: column;

        h4 {
          color: var(--second-text-color);
        }

        .hh {
          margin-top: 40px;
          color: var(--second-text-color);

          span {
            margin: 0 10px;
          }
        }
      }
    }

    &:hover {
      h3 {
        color: deeppink;
      }
    }
  }
}

.wrap {
  width: 20rem;
  margin-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  .wrap_main {
    position: sticky;
    top: 1rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 810px) {
  .wrap{
    display:block;
  }
}
@media (max-width: 810px) {
  .wrap{
    display:none;
  }
}

