 #root {
   width: 100%;
   height: 100%;
 }

 .container {
   height: 100%;

   .layouts_footer {
     width: 100%;
     padding: 20px 0;
     color: rgba(0, 0, 0, .65);
     text-align: center;
     font-size: 24px;

     a {
       color: rgba(0, 0, 0, .65);
     }

     p {
       font-size: 10px;
       line-height: 15px;
     }
   }

   .layouts_head {
     width: 100%;
     padding-left: 16px;
     border-bottom: 1px solid var(--border-color);
     background: #fff;
   }

   .layouts_work {
     padding: 12px 24px 24px 24px;
     background: #fff;
     box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
     z-index: 100;
   }

   .layouts_content {
     flex: 1;
     margin: 24px 24px 0 24px;
   }
 }

 .Left {
   height: 100%;
   background: #001529;
 }

 .Left_top {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 16px;
   color: #fff;
   font-size: 1.2rem;
   text-align: center;

   img {
     width: 32px;
     height: 32px;
     border-top-right-radius: var(--border-radius);
     border-top-left-radius: var(--border-radius);
     object-fit: cover;
   }

   span {
     margin-left: 4px;
   }
 }

 .Left_newBtn {
   padding: 0 var(--aside-padding-horizontal);
   margin: 12px 0;
 }

 .site-layout .site-layout-background {
   background: #fff;
 }

 .Content_header {
   background: #fff;
   padding: 16px;
 }

 .welcome_h1 {
   margin-bottom: .5em;
   color: #333;
   font-weight: 600;
   font-size: 38px;
 }

 .Content_main {
   flex: 1;
   padding: 24px;
   overflow: auto;
 }

 .ant-layout-content {
   display: flex;
   flex-direction: column;
 }

 .ant-layout-header {
   width: 100%;
   padding: 16px;
   border-bottom: 1px solid var(--border-color);
   background: #fff;
 }

 .header {
   position: relative;
   padding: 12px 24px;
   background: #fff;
   box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
   z-index: 100;
 }

 .catalogue {
   padding: 10px;
 }

 .main {
   flex: 1 10%;
   padding: 24px;
   overflow: auto;
 }

 .ant-layout-header {
   display: flex;
 }

 .header_left {
   display: block;
   flex: 0 0 50%;
   max-width: 50%;
   padding-left: 25px;
 }

 .header_right {
   display: block;
   flex: 0 0 50%;
   max-width: 50%;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   cursor: pointer;
   padding-right: 25px;
 }

 .anticon-github {
   font-size: 24px;
   margin-top: 26px;
   margin-right: 12px;
 }

 .block {
   display: inline-block;
 }

 .none {
   display: none;
 }
