.top {

  border-radius: var(--border-radius);
  background-color: var(--bg-second);
  box-shadow: var(--box-shadow);
  margin-bottom: 1.3rem;
  line-height: 1.29;
  overflow: hidden;


  .title {
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
    color: var(--main-text-color);
    font-weight: 700;
  }

  .top_main {
    padding: 0 1rem 1rem;

    li {
      display: flex;
      flex-wrap: nowrap;
      align-items: stretch;
      padding-top: 1rem;
      color: var(--second-text-color);

      a {
        color: var(--main-text-color);
      }

      a:hover {
        color: var(--primary-color);
      }
    }
  }
}
