
<template>
  <div class="coupon">
    <div class="coupon_top">
      <ul>
        <li
          v-for="(item, index) in couponTitle"
          :key="index"
          @click="getCouponType(index)"
          :class="{ active: index === ind }"
        >
          {{ item }} ({{ couponList.codeList.length }})
        </li>
      </ul>
    </div>
    <div class="coupon_content">
      <div
        v-for="(item, index) in couponList.codeList"
        :key="index"
        class="coupon_content_nouser"
      >
        <div>
          <ul>
            <li>
              ¥<span>{{ item.preferentialReduceAmount }}</span>
            </li>
            <li>
              <span>满{{ item.useLimitOrderAmount }}元可用</span>
            </li>
          </ul>
        </div>
        <div>
          <ul>
            <li>{{ item.name }}</li>
            <li>
              <span
                >{{ new Date(item.useTimeLimitStart).toLocaleDateString() }}至{{
                  new Date(item.useTimeLimitEnd).toLocaleDateString()
                }}</span
              >
              <span>去使用</span>
            </li>
            <li>满减券</li>
          </ul>
        </div>
      </div>
      <p v-if="couponList.codeList.length > 0">没有更多啦～</p>
      <div v-if="couponList.codeList.length === 0" class="coupon_mask">
        <img
          src="http://file.mwfile.cn/in1003/image/20201103/noOrder.png"
          alt=""
          mode="widthFix"
        />
        <p>暂时没有相关订单</p>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import moment from "moment";
export default {
  // name: '1812aIndex',
  // components: { ComponentName },
  // directives: { DirectiveName },
  data() {
    return {
      couponTitle: ["未使用", "已使用", "已失效"],
      ind: 0,
      couponCount: 0,
    };
  },
  mounted() {},
  methods: {
    ...mapActions({
      getCouponList: "coupon/getCouponList",
    }),
    getCouponType(index) {
      console.log("meidhufehiue.....", this.couponList);
      this.ind = index;
      this.getCouponList(index);
    },
  },
  computed: {
    ...mapState({
      couponList: (state) => state.coupon.couponList,
    }),
  },
  created() {
    this.getCouponList(this.ind);
  },
};
</script>

<style lang="scss" scoped>
.coupon {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .coupon_mask {
    width: 100%;
    margin-top: 40%;
    text-align: center;
    color: #969696;
    img {
      width: 250rpx;
      height: 250rpx;
    }
    p {
      margin-top: 30rpx;
    }
  }
  p {
    color: #888888;
    text-align: center;
    margin-top: 50rpx;
  }
  .coupon_top {
    width: 100%;
    height: 100rpx;
    ul {
      width: 100%;
      height: 80rpx;
      line-height: 80rpx;
      display: flex;
      align-items: center;
      justify-content: space-around;
      li {
        border-bottom: 1px solid transparent;
      }
      .active {
        color: red;
        border-bottom: 1px solid red;
      }
    }
  }
  .coupon_content {
    width: calc(100%-100rpx);
    padding: 0 50rpx;
    flex: 1;
    overflow-y: auto;
    .coupon_content_nouser {
      display: flex;
      div {
        border: 1px solid #ececec;
        padding-top: 10rpx;
        margin-top: 20rpx;
        width: 100%;
        height: 140rpx;
        &:nth-child(2) {
          flex: 1;
          ul {
            margin-left: 20rpx;
            li {
              height: 40rpx;
              line-height: 40rpx;
              &:nth-child(1) {
                font-weight: bold;
              }
              &:nth-child(3) {
                text-align: center;
                width: 80rpx;
                font-size: 20rpx;
                color: #fff;
                background: #f29873;
                border-radius: 10rpx;
              }
              &:nth-child(2) {
                display: flex;
                justify-content: space-between;
                span {
                  &:nth-child(1) {
                    font-size: 20rpx;
                    color: #999;
                  }
                  &:nth-child(2) {
                    font-size: 30rpx;
                    text-align: center;
                    width: 130rpx;
                    height: 45rpx;
                    border-radius: 50px;
                    background: #fbeeed;
                    color: #d75146;
                    margin-right: 20rpx;
                  }
                }
              }
            }
          }
        }
        &:nth-child(1) {
          width: 32%;
          border-left: 1px #fff dashed;
          height: 30rpc;
          background: #f29b73;
          color: #fff;
          ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            li {
              &:nth-child(1) span {
                font-size: 54rpx;
              }
              &:nth-child(2) span {
                font-size: 25rpx;
              }
            }
          }
        }
        // &:nth-child(2) {
        // }
      }
    }
  }
}
</style>