.article_dateil {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.article_dateil>.article_dateil_left {
  flex: 1;
  width: calc(100% - 20rem - 1rem);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.article_dateil>.article_dateil_right {
  width: 20rem;
  margin-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.article_dateil_item {
  padding: 1rem;
  background: var(--bg-second);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

.article_dateil_item h1 {
  text-align: center;
  line-height: 1.5;
  margin-top: 35px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  color: inherit;
  font-size: 2.5rem;
}

.article_dateil_item .article_publish {
  text-align: center;
}

.article_dateil_right {
  width: 20rem;
  margin-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

aside {
  display: block;
}

.article_dateil_right_sticky {
  position: sticky;
  top: 1rem;
  margin-bottom: 1rem;
}

.article_dateil_right_top {
  border-radius: var(--border-radius);
  background-color: var(--bg-second);
  box-shadow: var(--box-shadow);
  margin-bottom: 1.3rem;
  line-height: 1.29;
  overflow: hidden;

  .top_main {
    padding: 0 1rem 1rem;

    li {
      display: flex;
      flex-wrap: nowrap;
      align-items: stretch;
      padding-top: 1rem;
      color: var(--second-text-color);

      a {
        color: var(--main-text-color);
      }

      a:hover {
        color: var(--primary-color);
      }

      a.active {
        color: var(--primary-color);
      }

    }
  }

  .title {
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
    color: var(--main-text-color);
    font-weight: 700;
  }
}

.article_dateil_p {
  margin: 1rem 0;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: .06em;
}

.article_dateil_comment_top_textarea textarea {
  border-color: var(--comment-editor-border-color);
  color: var(--main-text-color);
  background-color: var(--bg-second);
  box-shadow: none !important;
  height: 142px;
  min-height: 142px;
  max-height: 274px;
  overflow-y: hidden;
  width: 100%;
  resize: none;
}

.article_dateil_comment_top .article_dateil_comment_box {
  margin: 20px;
}

.article_dateil_comment_top>footer {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.catalogitem {
  position: relative;
  z-index: 10;
  padding: 4px 0 4px 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.catalogitem:hover {
  color: var(--primary-color);
}

.catalogitem::before {
  content: "";
  position: absolute;
  top: 35%;
  left: 10px;
  margin-top: -2px;
  width: 5px;
  height: 5px;
  background-color: currentColor;
  border-radius: 45%;
  color: var(--main-text-color);
}

.catalogitemcontent:hover {
  color: var(--primary-color);
}

.article_dateil_right_bottom header {
  color: var(--main-text-color);
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 12px;
}

.catalogitemcontent {
  position: relative;
  max-height: 50vh;
  padding: 0 10px;
  overflow: auto;
  color: var(--main-text-color);
}

.catalogitem_son {
  position: relative;
  z-index: 10;
  padding: 4px 0 4px 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.catalogitem_son:before {
  content: "";
  position: absolute;
  top: 35%;
  left: 26px;
  margin-top: 1px;
  width: 4px;
  height: 4px;
  background-color: currentColor;
  border-radius: 45%;
  color: var(--main-text-color);
}

.catalogitem_son:hover {
  color: var(--primary-color);
}

.article_dateil_right_bottom>main>div {
  position: relative;
  max-height: 50vh;
  padding: 0 10px;
  overflow: auto;
}

.article_dateil_right_bottom>main>div>div {
  position: relative;
}

.article_dateil_right_bottom>main>div::-webkit-scrollbar {
  display: none
}


.active {
  color: #FF0064;
}



@media (min-width: 1025px) {
  .article_dateil_flex {
    margin-left: -1200px;
  }
}

.article_dateil_flex {
  position: fixed;
  z-index: 10;
  top: 30vh;
  // transform: translateX(-100%);
}

.article_flex_all {
  width: 32px;
  height: 32px;
  font-size: 22px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-second);
  color: var(--disable-text-color);
  margin: 15px 0;
  position: relative;
}

.article_flex_all>.article_num {
  position: absolute;
  left: 18px;
  top: -8px;
  width: 26px;
  height: 14px;
  line-height: 14px;
  background-color: #FF0064;
  border-radius: 10px;
  font-size: 12px;
  text-align: center;
  color: #fff;
}

@media (max-width: 768px) {
  .article_dateil_right {
    width: 0;
    display: none;
  }
}


@media (max-width: 1024px) {
  .article_dateil_flex {
    position: fixed;
    // top: 100%;
    // width: 100%;
    // bottom: ;
    top: 670px;
    // top: 0;
    // padding-right: 0;
    left: 0;
    width: 100%;
    height: 52px;
    background-color: var(--bg-second);
    border-top: 1px solid var(--border-color);
    display: flex;
  }

  .article_dateil_flex .article_flex_all {
    flex: 1;
    position: relative;

    .article_num {
      position: absolute;
      left: 50%;
      top: -1px;
    }
  }
}

.like_active {
  color: #FF0064;
}

.like:hover {
  color: #FF0064;
}

.comment:hover {
  color: #FF0064;
}

.share:hover {
  color: #FF0064;
}
