.box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .Left {
    flex: 1;
    width: calc(100% - 20rem - 1rem);
    padding-top: 1rem;
    padding-bottom: 1rem;

    .swiper {
      border-radius: var(--border-radius);
      box-shadow: var(--box-shadow);
      background: var(--bg-second);
      margin-bottom: 1rem;
      padding: .5rem;
      height: 316px;

      div {
        height: 100%;

        h2 {
          color: inherit;
          text-align: center;
        }
      }
    }
  }


  .cont {

    flex: 1;
    margin-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: var(--box-shadow);

    header {
      padding: 1rem;
      background: var(--bg-second);
      border-radius: var(--border-radius) var(--border-radius) 0 0;
      border-bottom: 1px solid var(--border-color);

      a.active {
        color: red;
      }

      a {
        padding: 0 12px;
        color: var(--main-text-color);
      }


    }


    main {
      border-radius: 0 0 var(--border-radius) var(--border-radius) !important;
      box-shadow: none !important;
    }
  }


}

.right {
  width: 20rem;
  margin-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;



  .sticky {
    position: sticky;
    top: 1rem;
    margin-bottom: 1rem;

    .bottom {
      border-radius: var(--border-radius);
      margin-bottom: 1.3rem;
      background-color: var(--bg-second);
      box-shadow: var(--box-shadow);
      line-height: 1.29;

      .title {
        padding: 1rem;
        border-bottom: 1px solid var(--border-color);
        color: var(--main-text-color);
        font-weight: 700;
      }

      .bottom_main {
        padding: 1rem;

        li {
          display: inline-block;
          padding: 2px 7px;
          border: 1px solid var(--border-color);
          border-radius: var(--border-radius);
          margin: 0 7px 7px 0;
          color: var(--second-text-color);
          line-height: 1.5em;
          transition: all .2s ease-in-out;

          a {
            color: var(--main-text-color);
          }

          a:hover {
            color: var(--primary-color);
          }
        }

        li:hover {
          border: 1px solid var(--primary-color);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .right {
    width: 0;
    display: none;
  }
}

.box .cont header a.active {
  color: red;
}
