*,
:after,
:before {
  box-sizing: border-box;

}

h2 {
  color: var(--main-text-color);
}


.msgboard {
  width: 100%;
  height: 100%;



  ._1TDituBtews_ULM98bSKdc {
    max-width: 800px;
    padding: 0 8px 21px;
    margin: 0 auto;

    .markdown {
      word-break: break-word;
      line-height: 1.75;
      font-weight: 400;
      font-size: 15px;
      overflow-x: hidden;
      letter-spacing: 1.2px;
      color: var(--main-text-color);

      h2 {
        padding-bottom: 12px;
        font-size: 24px;

      }

      p {
        line-height: inherit;

        strong {
          font-weight: 700;

        }

        strong:before {
          content: "\300C";
        }

        strong:after {
          content: "\300D";
        }
      }
    }
  }

  ._10wT67E6AAzqcEqLI7jUbZ {
    padding: 1rem 0;
    border-top: 1px solid var(--border-color);
    background: var(--bg-body);

    ._3GUiOO804xme2-agc9WfvC {
      max-width: 800px;
      padding: 0 16px;
      margin: 0 auto;

      ._1hXJ8FkJwAyuM2-YNk-KH8 {
        margin-bottom: 30px;
        color: var(--main-text-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        letter-spacing: .06em;
      }

      ._3E53JQDjSQhUYjr-yCJTky {
        border-radius: 4px;
        margin-bottom: 35px;



        ._1f7ebMJKow4NcuDVTBnvOc._3G7_JYLS4EIxTgILiJm_A5 {
          padding: 16px;
          border-radius: var(--border-radius);
          box-shadow: var(--box-shadow);
          margin-top: 1rem;

          // transition: 1s;
          header {
            display: flex;
            align-items: center;

            .ant-avatar {
              box-sizing: border-box;
              margin: 0;
              padding: 0;
              // color: #000;
              // font-size: 14px;
              font-variant: tabular-nums;
              // line-height: 1.5715;
              list-style: none;
              font-feature-settings: "tnum";
              position: relative;
              display: inline-block;
              overflow: hidden;
              color: #fff;
              white-space: nowrap;
              text-align: center;
              vertical-align: middle;
              background: #ccc;
              // width: 32px;
              // height: 32px;
              // line-height: 32px;
              border-radius: 50%;
              width: 32px;
              height: 32px;
              line-height: 32px;
              font-size: 18px;
              background-color: rgb(114, 46, 209);

              // 设置头像背景颜色
              // background: red;
              .ant-avatar-string {
                position: absolute;
                left: 50%;
                transform-origin: 0 center;
                line-height: 32px;
                transform: scale(1) translateX(-50%);
                color: #fff;
              }

            }

            ._3xprCsLyoqZkArtvYiuAJU {
              color: var(--main-text-color);
              padding: 0 8px;

              strong {
                font-weight: bolder;
              }
            }
          }

          main {
            font-size: .9rem;
            padding: 12px 0px 12px 40px;

            p {
              color: var(--main-text-color);
            }
          }

          footer {
            // font-size: .8rem;
            // padding-left: 40px;

            ._14zvEeg141WRt1wf5S37nf {
              color: var(--disable-text-color);
            }

            ._2Mfm5YZlUu-Qe7c9dPeV7w {
              cursor: pointer;
              margin-left: 8px;
            }

            ._2Mfm5YZlUu-Qe7c9dPeV7w:hover {
              color: red;
            }
          }
        }

        ._1f7ebMJKow4NcuDVTBnvOc {
          background-color: var(--bg-second);

          .anticon {
            display: inline-block;
            color: inherit;
            font-style: normal;
            line-height: 0;
            text-align: center;
            text-transform: none;
            vertical-align: -.125em;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            margin-right: 4px;

            svg {
              display: inline-block;
            }

            svg:not(:root) {
              overflow: hidden;
            }

            svg {
              display: inline-block;
            }

          }
        }

        ._3k5-guVzUUtXzu2skrNnws {
          margin-top: 16px;
          color: var(--second-text-color);
          text-align: center;
          padding: 16px 0px;





        }

        ._3k5-guVzUUtXzu2skrNnws,
        ._13J4GEYHDRu5MejyviLpnU {
          border-radius: var(--border-radius);
          background-color: var(--bg-second);
          box-shadow: var(--box-shadow);
        }
      }
    }
  }

  ._3ZUDOCREZiU7HtQwpEsqZZ {
    max-width: 800px;
    padding: 0 16px;
    margin: 0 auto;

    p._1hXJ8FkJwAyuM2-YNk-KH8 {
      margin-bottom: 30px;
      color: var(--main-text-color);
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      letter-spacing: .06em;
    }

    ._13a0ieTbw4mPlAdNBWux3c>div {
      background-color: transparent !important;
      box-shadow: none !important;
    }

    ._13a0ieTbw4mPlAdNBWux3c {

      box-shadow: none;

      .ammbB8tpRTlzwGu9Q8GNE {
        margin-bottom: 0;
      }

      .ammbB8tpRTlzwGu9Q8GNE {
        padding-bottom: 1.3rem;
        line-height: 1.29;
        overflow: hidden;

        .ant-spin-nested-loading {
          position: relative;

          .ant-spin-container {
            position: relative;
            transition: opacity .3s;

            .ILwjOWV5UwcJFf9ezqGA0 {
              width: 100%;
              padding: 1rem;
              background-color: var(--bg-second);
              border-radius: var(--border-radius);
              box-shadow: var(--box-shadow);
              overflow: hidden;

              ._2D8ED0giWo1nndxIezP9QV:hover ._1IGTo-a5f9XSMJzXpuwVLp {
                color: red;
              }

              ._2D8ED0giWo1nndxIezP9QV {
                position: relative;

                a,
                a:hover {
                  color: inherit;
                }

                a {
                  color: #f40a12;
                  text-decoration: none;
                  background-color: transparent;
                  outline: none;
                  cursor: pointer;
                  transition: color .3s;
                  -webkit-text-decoration-skip: objects;

                  header {
                    display: flex;
                    align-items: center;

                    ._1IGTo-a5f9XSMJzXpuwVLp {
                      color: var(--main-text-color);
                      overflow: hidden;
                      font-weight: 600;
                      font-size: 16px;
                      line-height: 22px;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                      font-synthesis: style;






                    }

                    .FQiYOEaWTwMrtdNTVxicQ {
                      .ant-divider-vertical {
                        position: relative;
                        top: -.06em;
                        display: inline-block;
                        height: .9em;
                        margin: 0 8px;
                        vertical-align: middle;
                        border-top: 0;
                        border-left: 1px solid rgba(0, 0, 0, .06);
                      }

                      .ant-divider {
                        box-sizing: border-box;

                        padding: 0;
                        color: #000;
                        font-size: 14px;
                        font-variant: tabular-nums;
                        line-height: 1.5715;
                        list-style: none;
                        font-feature-settings: "tnum";

                      }

                      ._2Mkgs6voFLMQqzoODDiOee {
                        color: #8590a6;
                      }



                    }
                  }

                  main {
                    display: flex;
                    flex-wrap: nowrap;
                    padding-top: 12px;

                    ._1pOcxenLy4i0bdMwF_z7Pp {
                      position: relative;
                      flex: 0 0 auto;
                      width: 190px;
                      max-height: 150px;
                      min-height: 100px;
                      border-radius: var(--border-radius);
                      margin-right: 1rem;
                      overflow: hidden;

                      img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        height: 100%;
                        width: 100%;
                        transform: translate3d(-50%, -50%, 0);
                        object-fit: cover;
                        vertical-align: middle;
                        border-style: none;
                        max-width: 100%;
                        opacity: 1;
                      }
                    }

                    ._3PsE-Wu3HdzQ7gDzVt-Ym2 {
                      display: flex;
                      flex-direction: column;
                      justify-content: space-between;

                      ._1a1sLsWPcIiIOw3Zw2i3it {
                        display: -webkit-box;
                        max-width: 100%;
                        color: var(--main-text-color);
                        overflow: hidden;
                        font-size: 14px;
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                      }

                      .KKzJyhKAimSvVUzx_qeZY {
                        width: 100%;
                        color: #8590a6;
                        font-size: 14px;
                        line-height: 20px;
                        margin-top: .8rem;

                        .ElyAw9QkgByDAuselHsq {
                          margin: 0 8px;
                        }

                        ._1lythm_jbjMURtN-zieAom {
                          margin-left: 6px;
                          color: var(--second-text-color);
                        }

                        .anticon {
                          display: inline-block;
                          color: inherit;
                          font-style: normal;
                          line-height: 0;
                          text-align: center;
                          text-transform: none;
                          vertical-align: -.125em;
                          text-rendering: optimizeLegibility;
                          -webkit-font-smoothing: antialiased;
                          -moz-osx-font-smoothing: grayscale;
                        }

                        .anticon svg {
                          display: inline-block;
                        }

                      }
                    }

                    .anticon svg {
                      display: inline-block;
                    }

                  }
                }

              }

            }
          }

          ._2D8ED0giWo1nndxIezP9QV+._2D8ED0giWo1nndxIezP9QV {
            margin-top: 2rem;
          }
        }
      }
    }
  }
}

._13a0ieTbw4mPlAdNBWux3c>div {
  background-color: transparent !important;
  box-shadow: none !important;
}
