.login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e7eaee;
}

.login_top {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  box-shadow: 0 2px 8px #f0f1f2;
  border-radius: 4px;
  display: flex !important;
}

.login_bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.login_bottom li:first-of-type {
  left: 10%;
}

.login_bottom li:nth-of-type(2) {
  left: 20%;
  width: 90px;
  height: 90px;
  animation-duration: 7s;
  animation-delay: 2s;
}

.login_bottom li:nth-of-type(3) {
  left: 30%;
  animation-delay: 4s;
}

.login_bottom li:nth-of-type(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  background: rgba(1, 136, 251, .3);
  animation-duration: 8s;
}

.login_bottom li:nth-of-type(5) {
  left: 70%;
}

.login_bottom li:nth-of-type(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  background: rgba(1, 136, 251, .2);
  animation-delay: 3s;
}

.login_bottom li:nth-of-type(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  animation-delay: 2s;
}

.login_bottom li:nth-of-type(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  animation-duration: 15s;
  animation-delay: 4s;
}

.login_bottom li:nth-of-type(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  background: rgba(1, 136, 251, .3);
  animation-duration: 12s;
  animation-delay: 2s;
}

.login_bottom li:nth-of-type(10) {
  left: 85%;
  width: 60px;
  height: 60px;
  animation-delay: 5s;
}

.k884VXYdRXgBLJy-GB0Yi>div:last-of-type {
  background: #f7fafb;
  display: inline-flex;
  align-items: center;
}

.login_bottom li {
  position: absolute;
  bottom: -160px;
  list-style: none;
  width: 40px;
  height: 40px;
  background: rgba(1, 136, 251, .15);
  animation: Djemk 15s linear infinite;

}

.login_top a {
  color: #000;

}

.login_p {
  margin-top: 10px;
}

@keyframes Djemk {
  0% {
    opacity: .5;
    transform: translateY(0) rotate(45deg);
  }

  25% {
    opacity: .75;
    transform: translateY(-400px) rotate(90deg);
  }

  50% {
    opacity: 1;
    transform: translateY(-600px) rotate(135deg);
  }

  100% {
    opacity: 0;
    transform: translateY(-1000px) rotate(180deg);
  }
}

.login_button {
  color: #fff;
  background: #0188fb;
  border-color: #0188fb;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
  width: 100%;
}

.login_top>div:first-of-type {
  background: #fff;
  height: 450px;
}

@media (min-width: 768px) {
  .login_top_block {
    display: block;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 576px) {
  .login_top_none {
    display: none;
  }
}

.login_top>div:last-of-type {
  background: #f7fafb;
  display: inline-flex;
  align-items: center;
}

.login_top>div {
  padding: 2rem;
}

.login_systemlogin {
  width: 100%;
}

@media (min-width: 576px) {
  .ant-col-sm-24 {
    display: block;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
