@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1629082092092') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-share_icon:before {
  content: "\e662";
}

.icon-yanjing:before {
  content: "\e857";
}

.icon-aixin:before {
  content: "\e622";
}

