.box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .Left {
    flex: 1;
    width: calc(100% - 20rem - 1rem);
    padding-top: 1rem;
    padding-bottom: 1rem;

    .title {
      padding: 16px 0;
      margin-bottom: 1rem;
      background: var(--bg-second);
      text-align: center;
      border-radius: var(--border-radius);
      box-shadow: var(--box-shadow);

      p {
        span {
          color: var(--primary-color);
          font-size: 1.5rem;
        }
      }
    }
  }

  .cont {

    flex: 1;
    margin-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: var(--box-shadow);

    header {
      padding: 1rem;
      background: var(--bg-second);
      border-radius: var(--border-radius) var(--border-radius) 0 0;
      border-bottom: 1px solid var(--border-color);

      a {
        padding: 0 12px;

        color: var(--main-text-color);

      }

      a.active {
        color: var(--primary-color);
      }
    }

    main {
      border-radius: 0 0 var(--border-radius) var(--border-radius) !important;
      box-shadow: none !important;
    }
  }


}

.right {
  width: 20rem;
  margin-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  .title {
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
    color: var(--main-text-color);
    font-weight: 700;
  }

  .sticky {
    position: sticky;
    top: 1rem;
    margin-bottom: 1rem;

    .top {
      border-radius: var(--border-radius);
      background-color: var(--bg-second);
      box-shadow: var(--box-shadow);
      margin-bottom: 1.3rem;
      line-height: 1.29;
      overflow: hidden;

      .top_main {
        padding: 0 1rem 1rem;

        li {
          display: flex;
          flex-wrap: nowrap;
          align-items: stretch;
          padding-top: 1rem;
          color: var(--second-text-color);

          a {
            color: var(--main-text-color);
          }

          a:hover {
            color: var(--primary-color);
          }
        }
      }
    }

    .bottom {
      border-radius: var(--border-radius);
      margin-bottom: 1.3rem;
      background-color: var(--bg-second);
      box-shadow: var(--box-shadow);
      line-height: 1.29;

      .bottom_main {
        padding: 1rem;

        li {
          display: inline-block;
          padding: 2px 7px;
          border: 1px solid var(--border-color);
          border-radius: var(--border-radius);
          margin: 0 7px 7px 0;
          color: var(--second-text-color);
          line-height: 1.5em;
          transition: all .2s ease-in-out;

          a {
            color: var(--main-text-color);
          }

          a:hover {
            color: var(--primary-color);
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .right {
    width: 0;
    display: none;
  }
}
