.form {
  background-color: #fff;
  padding: 24px 12px;
  margin-bottom: 16px;
}

.formItem {
  padding-left: 12px;
  padding-right: 12px;

}

.Iframe {
  display: block;
  width: 100%;
  height: 450px;
  border: 0;
  overflow: hidden;
  clear: both;
  margin: 1rem 0;
}
