.aa {
  width: 100%;
  height: 100%;
}

.aa .p11 {
  width: 100%;
  height: 35px;
  line-height: 35px;
}

.aa .bboo {
  display: flex;
  flex-wrap: wrap;

  //   margin: 10px 0;
  .leftbox {
    width: 63%;
    height: 100%;
    overflow: hidden;
    margin: 5px;
    color: var(--second-text-color);

    h3 {
      font-weight: bold;
      color: var(--second-text-color);
    }
    .box2 {
      width: 100%;
      height: 100%;
      // background-color: #fff;
      background-color: var(--bg-second);
      overflow: hidden;
      padding: 30px 10px;

      .box3 {

        img {
          width: 100%;
          height: 100%;
        }

        .sonbox {
          text-align: center;
          margin-top: 20px;

          h4 {
            font-weight: bold;
            font-size: 17px;
            color: var(--second-text-color);
          }

          .p2 {
            font-size: 15px;
            color: rgb(138, 135, 135);
          }

          .p3 {
            font-size: 16px;
            color: rgb(131, 143, 167);
          }

          button {
            display: inline-block;
            width: 88px;
            height: 30px;
            background: #f00;
            border: none;
            outline: none;
            font-size: 14px;
            border-radius: 2px;
            color: #fff;
          }
        }

        .sonbox2 {
          margin-top: 20px;
          color: var(--second-text-color);

          .li1 {
            width: 100%;
            height: 44px;
            line-height: 44px;
            display: flex;
            justify-content: space-between;
            padding: 0 10px;
            border-radius: 2px;
    color: var(--second-text-color);
            

            .span4 {
              display: none;
            }

            &:hover {
              background-color: rgb(216, 212, 212);

              .span3 {
                color: rgb(233, 38, 38);
              }

              .span4 {
                color: rgb(233, 38, 38);
                display: block;
              }
            }

          }
        }
      }
    }
  }

  .rightbox {
    width: 33%;
    height: 100%;
    margin: 10px;
    color: var(--second-text-color);
   
    h3 {
      font-weight: bold;
      color: var(--second-text-color);
    }

    .rbox1 {
      width: 320px;
      height: 100%;
      margin: 5px;
      background-color: var(--bg-second);
      .li2 {
        padding: 10px;

        &:hover {
          h3 {
            color: deeppink;
          }
        }

        .ce1 {
          width: 100%;
          height: 30px;
          display: flex;

          h3 {
            font-weight: bold;
            margin-right: 10px;
          }

          span {
            margin-left: 10px;
            color: #ccc;
          }
        }

        .ce3 {
          display: flex;

          img {
            width: 190px;
            height: 115px;
            margin-right: 5px;
          }
        }

      }
    }

  }
}

@media (max-width:810px) {
.leftbox{
   width: 100%;
 }
 .rightbox{
   width: 100%;
 }
}