.bottom {
  border-radius: var(--border-radius);
  margin-bottom: 1.3rem;
  background-color: var(--bg-second);
  box-shadow: var(--box-shadow);
  line-height: 1.29;

  .title {
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
    color: var(--main-text-color);
    font-weight: 700;
  }

  .bottom_main {
    padding: 1rem;

    li {
      padding: 8px 7px;
      border-radius: var(--border-radius);
      color: var(--second-text-color);
      line-height: 1.5em;
      transition: all .2s ease-in-out;

      a {
        color: var(--main-text-color);
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
      }

      a:hover {
        color: var(--primary-color);
      }
    }
  }
}
