.swiper {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, .35);
    z-index: 1;
    font-size: 1rem;
  }
}
