.p11 {
  display: inline-block;
  width: 100%;
  margin: 10px 0;
  color: var(--second-text-color);
}

.p11 .ap1 {
  // color: rgb(59, 61, 63);
  color: var(--second-text-color);


  &:hover {
    // color: rgb(59, 61, 63);
    color: var(--second-text-color);

  }
}

.p11 .ap2 {
  // color: rgb(59, 61, 63);
  color: var(--second-text-color);


  &:hover {
    // colorgb(5, 8, 10)63);
    color: var(--second-text-color);

  }
}

.contbox {
  display: flex;
}

.contbox .leftbox1 {
  width: 100%;
  height: 100%;
  margin: 10px 10px 0 0;

  .lefthead {
    width: 100%;
    height: 10%;
    padding: 10px;
    text-align: center;
    color: var(--second-text-color);

    h1 {
      font-size: 40px;
      font-weight: bold;
      color: #000;
      color: var(--second-text-color);

    }
  }
}

.leftbox1 .left_box {
  width: 100%;
  height: 100%;
  background-color: var(--bg-second);
  padding: 10px;
}

.rightbox1 {
  width: 320px;
  height: 100%;
  margin: 10px 0 0 0;
  position: sticky;
  top: 1rem;
  margin-bottom: 1rem;
}

.rightbox1 .rboxa {
  width: 100%;
  height: 100%;
  background-color: var(--bg-second);
  padding: 10px;
  color: var(--second-text-color);

  h3 {
    width: 100%;
    line-height: 35px;
    color: var(--second-text-color);

  }

  .hbox {
    width: 100%;
    max-height: 200px;
    overflow: auto;
    scroll-behavior: smooth;
    overscroll-behavior: contain;

    .hli1 {
      width: 100%;
      line-height: 30px;
      padding: 0 10px;

      &:hover {
        color: var(--primary-color);
        background-color: rgb(223, 222, 222);
      }
    }
  }
}

.rightbox1 .rboxb {
  margin-top: 10px;

  .rlib {
    width: 100%;
    line-height: 25px;
    padding: 0 0 0 20px;
    position: relative;

    &::before {
      margin-right: 10px;
      content: "";
      position: absolute;
      top: 50%;
      margin-left: -10px;
      left: var(--dot-left);
      margin-top: -2px;
      width: 6px;
      height: 6px;
      background-color: currentColor;
      border-radius: 50%;
    }

    &:hover {
      color: var(--primary-color);
    }
  }

  .rlic {
    width: 100%;
    line-height: 25px;
    padding: 0 0 0 30px;
    position: relative;

    &::before {
      margin-right: 10px;
      content: "";
      position: absolute;
      top: 50%;
      margin-left: -10px;
      left: var(--dot-left);
      margin-top: -2px;
      width: 5px;
      height: 5px;
      background-color: currentColor;
      border-radius: 50%;
    }

    &:hover {
      color: var(--primary-color);
    }
  }
}

.rboxb {
  color: var(--second-text-color);

}

.rboxb1 {
  width: 320px;
  max-height: 300px;
  overflow: auto;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// .rboxb1>div::-webkit-scrollbar {
//   display: none;
// }

.active {
  background-color: rgb(255, 255, 255);
  color: var(--primary-color);
}

.article_dateil_p {
  margin: 1rem 0;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: .06em;
}

.article_dateil_comment_top_textarea textarea {
  border-color: var(--comment-editor-border-color);
  color: var(--main-text-color);
  background-color: var(--bg-second);
  box-shadow: none !important;
  height: 142px;
  min-height: 142px;
  max-height: 274px;
  overflow-y: hidden;
  width: 100%;
  resize: none;
}

.article_dateil_comment_top .article_dateil_comment_box {
  margin: 20px;
}

._3tC3y9W6nEYVdAwGypNta9 {
  width: 35px;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  left: 20px;
  top: 30%;

  &:hover {
    color: var(--primary-color);
  }
}
._3tC3y9W6nEYVdAwGypNta9 span {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  background-color: #fff;
  font-size: 20px;
  color: #ccc;

  &:hover {
    color: var(--primary-color);
  }
}
.like {
  position: relative;
}
.like>b {
  position: absolute;
  right: 0px;
  top: -7px;
  min-width: 15px;
  height: 15px;
  text-align: center;
  font-size: 10px;
  background-color: deeppink;
  color: #fff;
  border-radius: 50%;
  line-height: 15px;
  display: inline-block;
}


.like_active span svg path{
  fill: deeppink;
}

@media (min-width:810px) {
  ._3tC3y9W6nEYVdAwGypNta9 {
    display: block;
  }

  .rightbox1 {
    display: block;
  }
}
@media (max-width:810px) {
  ._3tC3y9W6nEYVdAwGypNta9 {
    display: none;
  }
  .rightbox1 {
    display: none;
  }
}

