<template>
  <div>
    <header
      :style="{
        paddingTop: systemInfo.statusBarHeight + 'px',
        paddingLeft: '10px',
      }"
    >
      <span @click="goCity">北京></span>
      <u-search
        placeholder="试试搜：呷哺呷哺"
        v-model="keyword"
        :show-action="false"
      ></u-search>
    </header>

    <main>
      <swiper indicator-dots="true" class="swiper" autoplay="true">
        <swiper-item v-for="item in banner" :key="item.id">
          <img :src="item.picUrl" alt="" />
        </swiper-item>
      </swiper>
      <ul class="list">
        <li v-for="item in homeList" :key="item.img" @click="goWebview(item)">
          <img :src="item.img" alt="" mode="widthFix" />
          <span>{{ item.name }}</span>
        </li>
      </ul>
      <div class="discount" v-if="OperatList.length">
        <div class="discount-title">
          <p>
            <img :src="OperatList[1].titleIcon" alt="" mode="widthFix" />
            <span>{{ OperatList[1].title }}</span>
          </p>
          <p>
            <span @click="goDiscount">更多</span>
            <span>></span>
          </p>
        </div>
        <scroll-view scroll-x="true">
          <ul class="operat-list">
            <li
              v-for="item in OperatList[1].listData[0].items64"
              :key="item.id"
            >
              <div class="list-img">
                <img :src="item[0].image" alt="" mode="widthFix" />
                <div class="shop-price">
                  <p>
                    <span>￥{{ item[0].price }}</span>
                    <span style="text-decoration: line-through"
                      >￥{{ item[0].oldPrice }}</span
                    >
                  </p>
                  <p>
                    <span>抢</span>
                  </p>
                </div>
              </div>
              <span>{{ item[0].title }}</span>
              <p class="tags">
                <span v-for="value in item[0].briefTag.split(',')" :key="value">
                  {{ value }}
                </span>
              </p>
            </li>
          </ul>
        </scroll-view>
      </div>
      <div class="threeSan">
        <div>
          <img
            :src="OperatList[0].listData[0].items64[0][0].image"
            alt=""
            mode="widthFix"
            @click="goImage(OperatList[0].listData[0].items64[0][0].url)"
          />
        </div>
        <div>
          <img
            :src="OperatList[0].listData[0].items64[1][0].image"
            alt=""
            mode="widthFix"
            @click="goImage(OperatList[0].listData[0].items64[1][0].url)"
          />
          <img
            :src="OperatList[0].listData[0].items64[2][0].image"
            alt=""
            mode="widthFix"
            @click="goImage(OperatList[0].listData[0].items64[2][0].url)"
          />
        </div>
      </div>
    </main>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
  data() {
    return {
      keyword: "",
    };
  },
  computed: {
    ...mapState({
      banner: (state) => state.home.banner,
      homeList: (state) => state.home.homeList,
      OperatList: (state) => state.home.OperatList,
    }),
  },

  mounted() {},
  methods: {
    ...mapActions({
      getBanner: "home/getBanner",
      getHomeList: "home/getHomeList",
      getOperatList: "home/getOperatList",
    }),

    goWebview(item) {
      let src = item.link;
      if (/https?/.test(src)) {
        const query =
          "cityId=19&cityName=%25E5%258C%2597%25E4%25BA%25AC&latitude=39.95933&longitude=116.29845&mwAuthToken=uPCQvKl9RhX5r9SGP2noD0Ei0D3egOAN8IrKQ9lIY-BS0nZ8NKqZIMOel3oNkoUYqtY-BUo1NhJwwCCpmCYBdv4URpjyxja08LJUIgGnVjoCTAXmQC4U9cssjbtMIMYt0baAeuCwVk7r1ZkNnolgJ9ociY-BI4ptvW5hOPQcpt30FiQ8LKs2gvZtgjYSkSwa8oGL3xrm1u2ZIbmPpChaX-Ce3QuHcg-Z-Z&networkType=&source=mwMini&type=hot";
        if (src.indexOf("?") !== -1) {
          src = src + "&" + query;
        } else {
          src = src + "?" + query;
        }
        wx.navigateTo({
          url: "/pages/webview/index?src=" + encodeURIComponent(src),
        });
      } else {
        wx.navigateToMiniProgram({
          appId: item.appId,
          path: item.appLink,
        });
      }
    },
    goDiscount() {
      wx.switchTab({ url: "/pages/discount/index" });
    },
    goCity() {
      wx.navigateTo({ url: "/pages/city/index" });
    },
    goImage(url) {
      wx.navigateTo({ url: url });
    },
  },
  created() {
    this.getBanner();
    this.getHomeList();
    this.getOperatList();
  },
};
// ""
</script>

<style lang="scss" scoped>
header {
  height: 88rpx;
  background: #d65145;
  display: flex;
  color: #fff;
  align-items: center;
  label {
    margin-right: 5px;
  }
  div {
    width: 150px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.6);
    padding-left: 10px;
  }
}
.swiper {
  margin-top: 20px;
  text-align: center;
  height: 125px;
  img {
    width: 95%;
    height: 100%;
    border-radius: 10px;
  }
}
.list {
  margin: 15rpx 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  li {
    width: 110rpx;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img {
    width: 100%;
  }
  span {
    margin-top: 5rpx;
    font-size: 22rpx;
  }
}
.discount-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3% 3%;
  img {
    width: 40rpx;
    vertical-align: text-top;
    margin-right: 10rpx;
  }
  p:first-child span {
    font-size: 40rpx;
    font-weight: 500;
  }
}
scroll-view {
  padding-left: 3%;
  box-sizing: border-box;
}
.operat-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  li {
    flex-shrink: 0;
    width: 320rpx;
    margin-right: 10rpx;
  }
  .list-img {
    position: relative;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    height: 260rpx;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .shop-price {
    background: orangered;
    display: flex;
    justify-content: space-around;
    color: #fff;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .tags span {
    margin-right: 10rpx;
    background: #fdf3e4;
    padding: 3px;
    color: #e99a3d;
    font-size: 22rpx;
  }
}
.threeSan {
  display: flex;
  width: 95%;
  margin: 10px;
  box-sizing: border-box;
  div {
    flex: 1;
    box-sizing: border-box;
    margin: 5px;
    img {
      width: 100%;
      border-radius: 10px;
    }
  }
}
</style>