._3k5-guVzUUtXzu2skrNnws,
._13J4GEYHDRu5MejyviLpnU {
  border-radius: var(--border-radius);
  background-color: var(--bg-second);
  box-shadow: var(--box-shadow);
}

._13J4GEYHDRu5MejyviLpnU {
  padding: 16px;
}

.N1BwmgIkZZbNoeNN_FRbs .TaXtx7NU2ZhkaBRHq0-9o {
  position: relative;
}

.N1BwmgIkZZbNoeNN_FRbs .TaXtx7NU2ZhkaBRHq0-9o textarea {
  border-color: var(--comment-editor-border-color);
  color: var(--main-text-color);
  background-color: var(--bg-second);
  box-shadow: none !important;
  height: 142px;
  min-height: 142px;
  max-height: 274px;
  overflow-y: hidden;
  resize: none;
}

.ant-input:placeholder-shown {
  text-overflow: ellipsis;
}

textarea.ant-input {
  max-width: 100%;
  // height: auto;
  // min-height: 32px;
  line-height: 1.5715;
  vertical-align: bottom;
  transition: all .3s, height 0s;
}

.ant-input {
  box-sizing: border-box;
  margin: 0;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  padding: 4px 11px;
  color: #000;
  font-size: 14px;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  transition: all .3s;
}

textarea {
  overflow: auto;
  // resize: vertical;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button,
input,
optgroup,
select,
textarea {
  // margin: 0;
  // color: inherit;
  // font-size: inherit;
  font-family: inherit;
  // line-height: inherit;
}

[role=button],
a,
area,
button,
input:not([type=range]),
label,
select,
summary,
textarea {
  touch-action: manipulation;
  // touch-action: none;
}

input[type=number],
input[type=password],
input[type=text],
textarea {
  -webkit-appearance: none;
}

textarea {
  // -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  // color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  // display: inline-block;
  text-align: start;
  // appearance: auto;
  // background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  -webkit-rtl-ordering: logical;
  flex-direction: column;
  // resize: auto;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  column-count: initial !important;
  // margin: 0em;
  font: 400 13.3333px Arial;
  // border-width: 1px;
  // border-style: solid;
  // border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  // border-image: initial;
  // padding: 2px;
}











.N1BwmgIkZZbNoeNN_FRbs>footer {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.N1BwmgIkZZbNoeNN_FRbs>footer ._12avHmKjidVRHTuf5Qbd4K {
  display: flex;
  align-items: center;
  color: var(--disable-text-color);
  cursor: pointer;
}

.N1BwmgIkZZbNoeNN_FRbs>footer .ant-btn-primary[disabled] {
  border-color: var(--comment-editor-border-color);
  color: var(--main-text-color);
  background-color: var(--comment-editor-disable-bg);
}

.ant-btn-primary[disabled],
.ant-btn-primary[disabled]:active,
.ant-btn-primary[disabled]:focus,
.ant-btn-primary[disabled]:hover {
  // color: rgba(0,0,0,.25);
  background: #f5f5f5;
  // border-color: #d9d9d9;
  text-shadow: none;
  box-shadow: none;
}

.ant-btn[disabled] {
  cursor: not-allowed;
}

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
}

.ant-btn,
.ant-btn:active,
.ant-btn:focus {
  outline: 0;
}

.ant-btn {
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;

  // background-image: none;
  // box-shadow: 0 2px 0 rgb(0 0 0 / 2%);

  cursor: pointer;

  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  user-select: none;
  touch-action: manipulation;
  height: 32px;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 2px;
  color: #000;

  background: #fff;

  border: 1px solid #d9d9d9;
}

button,
select {
  text-transform: none;
}

button,
input {
  overflow: visible;
}

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
}

.ant-btn-primary {
  color: #fff;
  background: #f40a12;
  border-color: #f40a12;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}

.page_up {
  margin-right: 25px;
}

.page_up:hover {
  color: red;
  border-color: red;
}

._12avHmKjidVRHTuf5Qbd4K:hover {
  color: red;
  border-color: red;
}
