.scroll {
  border-radius: 0 0 var(--border-radius) var(--border-radius) !important;
  box-shadow: none !important;
  width: 100%;
  padding: 1rem;
  background-color: var(--bg-second);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  overflow: hidden;

  .main:hover .title {
    color: var(--primary-color);
  }

  .main {
    position: relative;
    margin-top: 2rem;

    p {
      color: var(--main-text-color);
    }

    dl {
      display: flex;
      flex-wrap: nowrap;
      padding-top: 12px;
      cursor: pointer;

      dt {
        position: relative;
        flex: 0 0 auto;
        width: 190px;
        max-height: 150px;
        min-height: 100px;
        border-radius: var(--border-radius);
        margin-right: 1rem;
        overflow: hidden;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          height: 100%;
          width: 100%;
          transform: translate3d(-50%, -50%, 0);
          object-fit: cover;
        }
      }

      dd {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .main_top {
          display: -webkit-box;
          max-width: 100%;
          color: var(--main-text-color);
          overflow: hidden;
          font-size: 14px;
          text-overflow: ellipsis;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }

        .main_bot {
          width: 100%;
          color: #8590a6;
          font-size: 14px;
          line-height: 20px;
          margin-top: .8rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  dl {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
