.page_search{
    padding: 24px 12px;
    margin-bottom: 16px;
    background: #fff;
    .page_inp{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .search_select{
        width:180px;
    }
    }

}
.page_btn{
    text-align: right;
    :nth-child(2){
    margin-left: 8px;
    }
}