<template>
  <view class="tasry">
    <div class="tasry_top">
      <ul>
        <li
          v-for="(item, index) in tabtitle"
          :key="index"
          @click="getIndex(index)"
          :class="{ active: index === ind }"
        >
          {{ item }}
        </li>
      </ul>
    </div>
    <div class="tasty_bottom">
      <div v-if="tastyList.length">
        <div v-for="(item, index) in tastyList" :key="index">
          {{ item }}
        </div>
      </div>
      <div v-if="tastyList.length === 0" class="tasty_mask">
        <img
          src="http://file.mwfile.cn/in1003/image/20201103/noOrder.png"
          alt=""
          mode="widthFix"
        />
        <p>暂时没有相关券</p>
      </div>
    </div>
  </view>
</template>

<script>
import { mapActions, mapState } from "vuex";
export default {
  data() {
    return {
      tabtitle: ["待付款", "待发货", "可使用", "待评价", "退款/售后", "已过期"],
      ind: 0,
    };
  },
  mounted() {},
  methods: {
    ...mapActions({
      getTastyList: "tasty/getTastyList",
    }),
    getIndex(index) {
      this.ind = index;
    },
    onLoad() {
      this.ind = this.$mp.query.ind * 1;
    },
  },
  computed: {
    ...mapState({
      tastyList: (state) => state.tasty.tastyList,
    }),
  },
  created() {
    this.getTastyList();
  },
};
</script>

<style lang="scss" scoped>
.tasry {
  width: 100%;
  height: 100%;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  .tasty_mask {
    width: 100%;
    margin-top: 40%;
    text-align: center;
    color: #969696;
    img {
      width: 250rpx;
      height: 250rpx;
    }
    p {
      margin-top: 30rpx;
    }
  }
  .tasty_bottom {
    flex: 1;
    overflow: auto;
  }
  .tasry_top {
    width: 100%;
    height: 100rpx;
    line-height: 100rpx;
    ul {
      width: 100%;
      height: 100rpx;
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-bottom: 1px solid #ececec;
      li {
        border-bottom: 2px solid transparent;
      }
      .active {
        color: red;
        border-bottom: 2px solid red;
      }
    }
  }
}
</style>