<template>
  <div>
    <u-search
      placeholder="请输入城市名称"
      v-model="keyword"
      :show-action="false"
      class="search"
    />
    <u-index-list :scrollTop="scrollTop">
      <u-index-anchor index="定位城市" />
      <template v-if="cityId">
        <template v-for="item in CityList.hot">
          <span
            v-if="item.id === cityId"
            :key="item.id"
            style="
              height: 35px;
              display: inline-block;
              width: 115px;
              text-align: center;
              line-height: 35px;
              background: rgb(240, 240, 240);
              margin: 5px;
            "
          >
            {{ item.name }}
          </span>
        </template>
      </template>
      <template v-else> 定位失败 </template>
      <u-index-anchor index="热门城市" />
      <div>
        <template v-for="item in CityList.hot">
          <span
            :key="item.id"
            style="
              height: 35px;
              display: inline-block;
              width: 115px;
              text-align: center;
              line-height: 35px;
              background: rgb(240, 240, 240);
              margin: 5px;
            "
            >{{ item.name }}</span
          >
        </template>
      </div>
      <div>
        <div v-for="(item, name) in CityList.list" :key="name">
          <u-index-anchor :index="name" />
          <view class="list-cell" v-for="val in item" :key="val.id"
            >{{ val.name }}
          </view>
        </div>
      </div>
    </u-index-list>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
  name: "city",
  data() {
    return {
      scrollTop: 0,
      keyword: "",
    };
  },
  onPageScroll(e) {
    this.scrollTop = e.scrollTop;
  },
  mounted() {},
  computed: {
    ...mapState({
      CityList: (state) => state.city.CityList,
      cityId: (state) => state.city.cityId,
    }),
  },
  methods: {
    ...mapActions({
      getCityList: "city/getCityList",
      getLocationCity: "city/getLocationCity",
    }),
  },
  created() {
    this.getCityList();
    this.getLocationCity();
  },
};
</script>

<style lang="scss" scoped>
.search {
  margin: 5px;
}
.list-cell {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 24rpx;
  overflow: hidden;
  color: #323233;
  font-size: 14px;
  line-height: 24px;
  background-color: #fff;
}
</style>