.outer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.outer>.first {
  flex: 1;
  width: calc(100% - 20rem - 1rem);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.firstitem {
  background-color: var(--bg-second);
  box-shadow: var(--box-shadow);
}

.maintop p:first-of-type {
  margin-top: .5rem;
}

.maintop p {
  margin-bottom: 0;
}

.maintop {
  padding: 16px 0;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--bg-second);
  text-align: center;
}

.maintop p:first-of-type span {
  color: var(--primary-color);
  font-size: 1.5rem;
}

.maintop p:last-of-type span {
  color: var(--primary-color);
  font-size: 1.1rem;
}

.mainmiddle {
  padding: 1rem 1.3rem;
}

.mainmiddle h2 {
  color: var(--main-text-color);
  font-size: 1.5rem;
}

.mainmiddle .archivesitem {
  padding: .5rem 1rem;
  border-radius: 4px;
}

.mainmiddle .archivesitem h3 {
  color: var(--second-text-color);
}

.mainmiddle .archivesitem ul {
  padding-left: 2.5rem;
}

.mainmiddle .archivesitem li {
  position: relative;
  padding: .5rem 0;
}

.mainmiddle .archivesitem .headline {
  color: var(--main-text-color);
  overflow: hidden;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.4;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  margin-left: 20px;
}

.mainmiddle .archivesitem li:hover,
.mainmiddle .archivesitem li:hover .headline,
.mainmiddle .archivesitem li:hover .time {
  color: var(--primary-color);
}

.mainmiddle .archivesitem li:before {
  position: absolute;
  top: 17px;
  left: -1rem;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-left: -4px;
  background: var(--disable-text-color);
  content: " ";
}

.time {

  padding-right: 1em;
  margin: 0;
  color: var(--second-text-color);
  font-size: .8rem;

}

.mainmiddle .archivesitem li a {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.zuo {
  width: 20rem;
  margin-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  .sticky {
    position: sticky;
    top: 1rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .zuo {
    width: 0;
    display: none;
  }
}