.top {
  img {
    width: 100%;
  }

  h3 {
    min-width: 225px;
    padding: 12px 0px;
    border: 0px;
    margin-bottom: 0px;
    color: rgba(0, 0, 0, 0.85);
    overflow: hidden;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
  }

  p {
    display: -webkit-box;
    max-width: 100%;
    padding: 0px 0px 12px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
  }

}

.bot {
  position: relative;
  height: 80px;

  dt {
    position: absolute;
    left: 0px;
    width: 80px;
    height: 80px;
    padding: 0px;

    img {
      width: 100%;
    }
  }

  dd {
    position: absolute;
    left: 80px;
    padding: 8px 16px;
    width: 295px;
    height: 80px;

    :first-child {
      position: absolute;
      top: 0px;
      width: 100%;
      color: rgba(0, 0, 0, 0.85);
    }

    :last-child {
      position: absolute;
      bottom: 0px;
      color: rgba(0, 0, 0, 0.65);
      font-size: 0.9em;

      a {
        color: rgb(255, 0, 100);
      }
    }
  }
}
