.know {
  width: 100%;

  .know_content {
    background: rgb(255, 255, 255);
    padding: 24px 12px;

    .know_content_right {
      text-align: right;
      margin-bottom: 24px;
    }

    .content_img {
      width: 100%;
      height: 100%;
    }

    .content_imgbox {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 160px;
      margin-bottom: 12px;
      color: #888;
      background-color: #f5f5f5;
      overflow: hidden;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 100%;
        width: 100%;
        transform: translate3d(-50%, -50%, 0);
        object-fit: cover;
      }
    }
  }
}

.know_newfile_btn {
  margin-top: 12px;
}

.know_newfile_inp {
  align-items: center;
}

.box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  color: #888;
  background-color: #f5f5f5;
  overflow: hidden;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate3d(-50%, -50%, 0);
    object-fit: cover;
  }
}

.image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 360px;
  margin-bottom: 12px;
  color: #888;
  background-color: #f5f5f5;
  overflow: hidden;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate3d(-50%, -50%, 0);
    object-fit: cover;
  }
}

.warp {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 7px;
  color: rgba(0, 0, 0, .65);
  overflow: hidden;
  font-size: 12px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;

  p {
    display: inline-block;
    margin-right: 8px;
    color: rgba(0, 0, 0, .85);
  }

  div {
    flex: 1;

    .url {
      padding: 8px;
      border: 1px solid #dedede;
      line-height: 1.4;
      white-space: normal;
      word-wrap: break-word;
      word-break: break-all;
    }
  }
}

.list {
  cursor: pointer;
}

.know_content_footbtn {
  height: 53px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-top: 1px solid rgb(232, 232, 232);
  padding: 10px 16px;
  text-align: right;
  left: 0px;
  background: rgb(255, 255, 255);
  border-radius: 0px 0px 4px 4px;

  .know_content_btn2 {
    margin-left: 8px;
  }
}
