.form {
  background-color: #fff;
  padding: 24px 12px;
  margin-bottom: 15px;
}

.formItem {
  padding-left: 12px;
  padding-right: 12px;
}

.table {
  background-color: #fff;
}

.table_top {
  padding: 24px 12px;
  display: flex;
  justify-content: space-between;
}

.table_bottom {
  align-items: center;
  margin-bottom: 16px;
  font-size: 1.1em;
}

.zhong {
  position: relative;
  top: -.06em;
  display: inline-block;
  height: .9em;
  margin: 0 8px;
  vertical-align: middle;
  border-top: 0;
  border-left: 1px solid rgba(0, 0, 0, .06);
}
