<template>
  <view class="neck">
    <div class="neck_top">
      <ul>
        <li
          v-for="(item, index) in tabtitle"
          :key="index"
          @click="getIndex(index)"
          :class="{ active: index === ind }"
        >
          {{ item }}（0）
        </li>
        <li>北京</li>
      </ul>
    </div>
    <div class="neck_bottom">
      <div v-if="neckList.length">
        <div v-for="(item, index) in neckList" :key="index">
          {{ item }}
        </div>
      </div>
      <div class="neck_mask">
        <img
          src="http://file.mwfile.cn/in1003/image/20201103/noOrder.png"
          alt=""
          mode="widthFix"
        />
        <p>暂时没有相关订单</p>
      </div>
    </div>
  </view>
</template>

<script>
import { mapActions, mapState } from "vuex";
export default {
  //   name: "1812aIndex",
  //   components: { ComponentName },
  //   directives: { DirectiveName },
  data() {
    return {
      tabtitle: ["全部", "快过期"],
      ind: 0,
    };
  },
  mounted() {},
  methods: {
    ...mapActions({}),
    getIndex(index) {
      this.ind = index;
    },
  },
  computed: {
    ...mapState({}),
  },
  created() {},
};
</script>

<style lang="scss" scoped>
.neck {
  width: 100%;
  height: 100%;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  .neck_mask {
    width: 100%;
    margin-top: 40%;
    text-align: center;
    color: #969696;
    img {
      width: 250rpx;
      height: 250rpx;
    }
    p {
      margin-top: 30rpx;
    }
  }
  .neck_bottom {
    flex: 1;
    overflow: auto;
  }
  .neck_top {
    width: 100%;
    height: 100rpx;
    line-height: 100rpx;
    ul {
      width: 100%;
      height: 100rpx;
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-bottom: 1px solid #ececec;
      li {
        border-bottom: 2px solid transparent;
      }
      .active {
        color: red;
        border-bottom: 2px solid red;
      }
    }
  }
}
</style>