<template>
  <div class="discount">
    <header :style="{ paddingTop: systemInfo.statusBarHeight + 'px' }">
      <span>北京 ></span>
      <div>
        <span>搜索好物</span>
      </div>
    </header>
    <main>
      <swiper class="swiper">
        <swiper-item v-for="item in slideshowList" :key="item.id">
          <img :src="item.img" alt="" @click="handle" />
        </swiper-item>
      </swiper>
      <ul class="nav">
        <li v-for="item in navList" :key="item.id" @click="navigateTo">
          <img :src="item.img" alt="" />
          <span>{{ item.title }}</span>
        </li>
      </ul>
      <h2 class="recommendh2">新品推荐</h2>
      <scroll-view scroll-x="true" class="recommend">
        <ul class="recommendul">
          <li v-for="item in recommendList" :key="item.id">
            <img :src="item.thumb" alt="" />

            <div class="connect">
              <p class="title">
                <span>新品</span>
                {{ item.title }}
              </p>
              <p class="ncon">
                <span>{{ item.ncon }}:{{ item.saled }}</span>
              </p>
              <p class="price">
                <span>￥{{ item.pricep }}</span
                ><span>￥{{ item.oldprice }}</span>
              </p>
            </div>
          </li>
        </ul>
      </scroll-view>
      <div class="sermeatitle">
        <h2>超值套餐</h2>
        <span>更多</span>
      </div>
      <scroll-view scroll-x="true" class="sermea">
        <ul class="sermeaul">
          <li v-for="item in sermealList" :key="item.id">
            <img :src="item.thumb" alt="" />
            <div class="connect">
              <p class="title">
                <span>新品</span>
                {{ item.title }}
              </p>
              <p class="ncon">
                <span>{{ item.ncon }}:{{ item.saled }}</span>
              </p>
              <p class="price">
                <span>￥{{ item.pricep }}</span
                ><span>￥{{ item.oldprice }}</span>
              </p>
            </div>
          </li>
        </ul>
      </scroll-view>
      <!-- <u-sticky offset-top="100"> -->
        <scroll-view scroll-x="true">
          <ul class="tab">
            <li
              @click="[(xindex = index), headerid(item.id)]"
              :class="{ active: xindex === index }"
              v-for="(item, index) in tabList"
              :key="item.id"
            >
              {{ item.name }}
            </li>
          </ul>
        </scroll-view>
      <!-- </u-sticky> -->
      <ul class="allconnect">
        <li v-for="item in allList" :key="item.id">
          <div class="img">
            <img :src="item.data.thumb" alt="" />
          </div>
          <div class="connect">
            <p class="title">
              {{ item.data.title }}
            </p>
            <div class="price">
              <p>
                <span>￥{{ item.data.price }}</span>
                <span>￥{{ item.data.oldprice }}</span>
              </p>
              <p>
                <span>已售:{{ item.data.saled }}</span>
              </p>
            </div>
            <p class="type">
              <span>{{ item.data.sort_list[1] }}</span>
            </p>
          </div>
        </li>
      </ul>
    </main>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
  data() {
    return {
      xindex: 0,
    };
  },
  computed: {
    ...mapState({
      discountList: (state) => state.discount.discountList,

      slideshowList: (state) => state.discount.slideshowList, //轮播图

      navList: (state) => state.discount.navList, //导航

      recommendList: (state) => state.discount.recommendList, //新品推荐

      sermealList: (state) => state.discount.sermealList, //超值套餐

      tabList: (state) => state.discount.tabList, //tab

      allList: (state) => state.discount.allList, //全部
    }),
  },

  mounted() {},

  methods: {
    ...mapActions({
      getdiscountList: "discount/getdiscountList",
      gettabList: "discount/gettabList",
      getallList: "discount/getallList",
    }),
    navigateTo(){    
        wx.navigateTo({url:"/pages/discountdateil/index"});
    },
    async headerid(id) {
      await this.getallList(id);
    },
  },
  created() {
    this.getdiscountList();
    this.gettabList();
    this.getallList(328);
  },
};
</script>

<style lang="scss" scoped>
header {
  height: 88rpx;
  background: #e8443d;
  display: flex;
  color: #fff;
  align-items: center;
  label {
    margin-right: 5px;
  }
  div {
    width: 150px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.6);
    padding-left: 10px;
    color: #999999;
    font-size: 12px;
    padding: 5px 10px;
  }
}

.swiper {
  position: relative;
  width: 100%;
  height: 170px;
  img {
    width: 100%;
    height: 100%;
  }
}

.nav {
  position: absolute;
  left: 0;
  top: 36%;
  width: 88%;
  height: 90px;
  margin: 0 10px;
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  background-color: #fff;
  border: 1px solid #fff;
  li {
    height: 150rpx;
    width: 110rpx;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img {
    width: 45px;
    height: 45px;
  }
  span {
    margin-top: 5px;
    font-size: 26rpx;
  }
}
.recommendh2 {
  margin-left: 15px;
  height: 40px;
  line-height: 40px;
  margin-top: 50px;
}
.recommend {
  width: 93%;
  margin: 0 10px;
  .recommendul {
    height: 220px;
    display: flex;

    li {
      border: 1px solid #ccc;
      border-radius: 10px 10px 0 0;
      margin: 0 5px;
    }
    img {
      border-radius: 10px 10px 0 0;

      width: 130px;
      height: 130px;
    }
    .connect {
      height: 35%;
      margin: 0 8px;
      .title {
        span {
          background-color: #f9b742;
          color: #fff;
          border-radius: 4px;
          font-size: 12px;
          padding: 1px 2px;
        }
        height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }
      .ncon {
        margin: 4px 0;
        font-size: 12px;
        color: #c8c8c8;
      }
      .price {
        span:first-child {
          color: red;
        }
        span:last-child {
          color: #c8c8c8;
          font-size: 13px;
          text-decoration: line-through;
        }
      }
    }
  }
}
.sermeatitle {
  margin: 0 15px;
  height: 40px;
  margin-top: 10px;
  line-height: 40px;
  display: flex;
  justify-content: space-between;
}
.sermea {
  width: 93%;
  margin: 0 10px;
  .sermeaul {
    height: 220px;
    display: flex;
    li {
      border: 1px solid #ccc;
      border-radius: 10px 10px 0 0;
      margin: 0 5px;
    }
    img {
      border-radius: 10px 10px 0 0;

      width: 130px;
      height: 130px;
    }
    .connect {
      height: 35%;
      margin: 0 8px;
      .title {
        span {
          background-color: #f9b742;
          color: #fff;
          border-radius: 4px;
          font-size: 12px;
          padding: 1px 2px;
        }
        height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }
      .ncon {
        margin: 4px 0;
        font-size: 12px;
        color: #c8c8c8;
      }
      .price {
        span:first-child {
          color: red;
        }
        span:last-child {
          color: #c8c8c8;
          font-size: 13px;
          text-decoration: line-through;
        }
      }
    }
  }
}
.tab {
  width: 190%;
  display: flex;
  line-height: 50px;
  height: 50px;
  li {
    padding: 0 15px;
  }
  li.active {
    color: #de5146;
    border-bottom: 4px solid #d65146;
  }
}
.allconnect {
  width: 94%;
  margin: 5px 10px;
  display: flex;
  flex-wrap: wrap;
  li {
    height: 240px;
    width: 50%;
    img {
      border-radius: 8px 8px 0 0;
      width: 140px;
      height: 140px;
    }
    .connect {
      height: 35%;
      margin: 0 8px;
      .title {
        span {
          background-color: #f9b742;
          color: #fff;
          border-radius: 4px;
          font-size: 12px;
          padding: 1px 2px;
        }
        height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }

      .price {
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p:first-child {
          span:first-child {
            color: red;
            font-size: 16px;
          }
          span:last-child {
            color: #c8c8c8;
            font-size: 13px;
            text-decoration: line-through;
          }
        }
        p:last-child {
          color: #c8c8c8;
          font-size: 22rpx;
        }
      }
      .type {
        span {
          background-color: #f2f6fa;
          color: #9491bc;
          font-size: 24rpx;
          padding: 3px;
        }
      }
    }
  }
}
</style>