.search_content{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    width: 100vw;
    height: 100vh;
    padding: 2rem 1rem;
    background: var(--bg);
    overflow: auto;
    .search_list{
        margin-left: 10%;
        .search_listall{
            color: #000;
        }
        li{
            height: 40px;
            line-height: 40px;
           width: 90%;
            &:hover{
                background: #ccc;
            }
        }
    }
    .searchbox{
        width: 100%;
        height: 105px;
    }
    header{
        width: 80%;
        margin-left: 10%;
        display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    }
    .article_search{
        display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    }
    .search_off{
        display: flex;
    flex-direction: column;
    color: var(--disable-text-color);
    cursor: pointer;
    svg{
        width: 25px;
        height: 25px;
    }
    }
    .anticon{
        display: inline-block;
        color: inherit;
        font-style: normal;
        line-height: 0;
        text-align: center;
        text-transform: none;
        vertical-align: -.125em;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .searchinput{
        width: 81%;
        height: 40%;
        margin-left: 10%;
        display: inline-block;
        display: flex;
        .searchinput_1{
           width: calc(100% - 40px);
            height: 40px;
            .search_input{
                width: 100%;
                height: 40px;
                padding-left: 16px;
                border: 1px solid #ccc;
                &:hover{
                    border: 1px solid red;
                }
            }
        }
        .search_btn{
            width: 40px;
            height: 40px;
            border: 1px solid #ccc;
            padding: 6px;
            &:hover{
                border: 1px solid red;
            }
        }
    }
}