.poster{
    width: 400px;
    height: 440px;
    padding: 10px;
    img{
        width: 100%;
        
    }
    .hh2{
        font-weight: bold;
    }
}
.poster .pp1{
    display: flex;
    img{
        width: 80px;
        height: 80px;
    }
}