<template>
  <div>jiarutuiguang</div>
</template>

<script>
export default {
  //   name: "1812aIndex",
  //   components: { ComponentName },
  //   directives: { DirectiveName },
  data() {
    return {};
  },
  mounted() {},
  methods: {},
};
</script>

<style lang="scss" scoped>
</style>