.box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .Left {
    flex: 1;
    width: calc(100% - 20rem - 1rem);
    padding-top: 1rem;
    padding-bottom: 1rem;

    .title {
      padding: 16px 0;
      margin-bottom: 1rem;
      background: var(--bg-second);
      text-align: center;
      border-radius: var(--border-radius);
      box-shadow: var(--box-shadow);

      p {
        span {
          color: var(--primary-color);
          font-size: 1.5rem;
        }
      }
    }
  }

  .cont {

    flex: 1;
    margin-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: var(--box-shadow);

    header {
      padding: 1rem;
      background: var(--bg-second);
      border-radius: var(--border-radius) var(--border-radius) 0 0;
      border-bottom: 1px solid var(--border-color);

      a {
        padding: 0 12px;

        color: var(--main-text-color);

      }

      a.active {
        color: var(--primary-color);
      }
    }

    main {
      border-radius: 0 0 var(--border-radius) var(--border-radius) !important;
      box-shadow: none !important;
    }
  }


}

.right {
  width: 20rem;
  margin-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  .title {
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
    color: var(--main-text-color);
    font-weight: 700;
  }

  .sticky {
    position: sticky;
    top: 1rem;
    margin-bottom: 1rem;




  }
}

@media (max-width: 768px) {
  .right {
    width: 0;
    display: none;
  }
}
