<template>
  <div class="collect">
    <div class="collect_top">
      <ul>
        <li
          v-for="(item, index) in collectTitle"
          :key="index"
          @click="getcollectType(index)"
          :class="{ active: index === ind }"
        >
          {{ item }}
        </li>
      </ul>
    </div>
    <div class="collect_content">
      <div v-if="this.ind === 0">1234</div>
      <div v-if="collectShopsList.length === 0" class="collect_mask">
        <img
          src="http://file.mwfile.cn/in1003/image/20201103/noOrder.png"
          alt=""
          mode="widthFix"
        />
        <p>暂时没有相关订单</p>
      </div>
      <div v-for="(item, index) in collectShopsList" :key="index">
        {{ item.title }}
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
export default {
  // name: '1812aIndex',
  // components: { ComponentName },
  // directives: { DirectiveName },
  data() {
    return {
      collectTitle: ["餐厅", "商品", "品牌"],
      ind: 0,
      collectCount: [],
    };
  },
  mounted() {},
  methods: {
    ...mapActions({
      getCollectList: "collect/getCollectList",
      getCollectShopList: "collect/getCollectShopList",
    }),
    getcollectType(index) {
      this.ind = index;
      console.log(index);
      if (index === 1) {
        this.getCollectShopList();
      } else if (index === 0) {
        this.getCollectList();
      } else {
        console.log("sds");
      }
    },
  },
  computed: {
    ...mapState({
      collectList: (state) => state.collect.collectList,
      collectShopsList: (state) => state.collect.collectShopsList,
    }),
  },
  created() {
    // this.getCollectList();
  },
};
</script>

<style lang="scss" scoped>
.collect {
  display: flex;
  flex-direction: column;
  .collect_content {
    flex: 1;
    overflow-y: auto;
    .collect_mask {
      width: 100%;
      margin-top: 40%;
      text-align: center;
      color: #969696;
      img {
        width: 250rpx;
        height: 250rpx;
      }
      p {
        margin-top: 30rpx;
      }
    }
  }
  .collect_top {
    width: 100%;
    height: 100rpx;
    ul {
      width: 100%;
      height: 80rpx;
      line-height: 80rpx;
      display: flex;
      align-items: center;
      justify-content: space-around;
      li {
        border-bottom: 1px solid transparent;
      }
      .active {
        color: red;
        border-bottom: 1px solid red;
      }
    }
  }
}
</style>