* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-weight: normal;
  transition: background-color .2s ease-in-out, margin .2s ease-in-out, opacity .2s ease-in-out, filter .2s ease-in-out, visibility .2s ease-in-out, transform .2s ease-in-out, border-color .2s ease-in-out;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: none;
}

.anticon {
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

}

a,
area,
button,
[role='button'],
input:not([type='range']),
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

body img {
  opacity: 1;
}

html,
body,
#root,
._oU_ibYFSP27GhOy5w0XY {
  width: 100%;
  height: 100%;

}

.container {
  margin-right: auto;
  margin-left: auto
}





._oU_ibYFSP27GhOy5w0XY {
  height: 100vh;
  min-height: 100vh;

  ._3qxGtLoeoc9_cTrMop-zTn {
    position: relative;
    width: 100%;
    height: 64px;
    transition: all .3s ease-in-out;


    ._3M_Iyty-_u6Mq1VeSk14Rq {
      position: relative;
      z-index: 100;
      width: 100%;
      height: 64px;
      background-color: var(--bg);
      border-bottom: 1px solid var(--border-color);




      ._3U9PAhHDbA5NYPGpvj3gix {

        height: 64px;
        margin-right: 4rem;
        color: var(--main-text-color);
        line-height: 64px;
        text-align: left;


        a {
          color: #f40a12;
          text-decoration: none;
          background-color: transparent;
          outline: none;
          cursor: pointer;
          transition: color .3s;


          img {
            display: inline-block;
            height: 36px;
            max-width: 100%;
            vertical-align: middle;
            border-style: none;

          }
        }
      }






    }


  }

  .main_all {
    min-height: 100vh;
    background: var(--bg-body);
  }

  ._3SL8bXyPeDS8XR5EoRJ31s {
    padding: 20px 0;
    border-top: 1px solid var(--border-color);
    color: #c1bdbd;
    background: var(--bg-footer);
    text-align: center;

    ._2KuyeuhURuEtdsOPRH7xZB {
      font-size: 10px;
      line-height: 15px;
    }


    ul._1-uVZKG0Zi-XehmZOgdOtA {
      display: inline-flex;
      flex-wrap: nowrap;
      margin: 8px 0 16px;

      li:first-of-type {
        margin-top: 1px;
      }

      li {
        display: inline-block;
        border-radius: 50%;
        margin: 0 5px;
        font-size: 24px;
        text-align: center;

        svg {
          width: 24px;
          height: 24px;
        }
      }


      ._2KuyeuhURuEtdsOPRH7xZB {
        font-size: 10px;
        line-height: 15px;
      }


      ul._1-uVZKG0Zi-XehmZOgdOtA {
        display: inline-flex;
        flex-wrap: nowrap;
        margin: 8px 0 16px;

        li:first-of-type {
          margin-top: 1px;
        }

        li {
          display: inline-block;
          border-radius: 50%;
          margin: 0 5px;
          font-size: 24px;
          text-align: center;

          svg {
            width: 24px;
            height: 24px;
          }
        }


        ._2KuyeuhURuEtdsOPRH7xZB {
          font-size: 10px;
          line-height: 15px;
        }
      }
    }
  }

  .ant-back-top {
    display: none;
    bottom: 60px !important;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    position: fixed;
    right: 100px;

    z-index: 10;
    width: 40px;
    height: 40px;
    cursor: pointer;

    .ant-fade-appear.ant-fade-appear-active,
    .ant-fade-enter.ant-fade-enter-active {
      animation-name: antFadeIn;
      animation-play-state: running;
    }

    .ant-back-top-content {
      width: 40px;
      height: 40px;
      overflow: hidden;
      color: #fff;
      text-align: center;
      background-color: rgba(0, 0, 0, .85);
      border-radius: 20px;
      transition: all .3s;
    }

    li:first-of-type {
      margin-top: 1px;
    }


  }

  .ant-back-top {
    bottom: 60px !important;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    position: fixed;
    right: 100px;

    z-index: 10;
    width: 40px;
    height: 40px;
    cursor: pointer;

    .ant-fade-appear.ant-fade-appear-active,
    .ant-fade-enter.ant-fade-enter-active {
      animation-name: antFadeIn;
      animation-play-state: running;
    }

    .ant-back-top-content {
      width: 40px;
      height: 40px;
      overflow: hidden;
      color: #fff;
      text-align: center;
      background-color: rgba(0, 0, 0, .85);
      border-radius: 20px;
      transition: all .3s;
    }

    .ant-fade-appear,
    .ant-fade-enter {
      opacity: 0;
      animation-timing-function: linear;

      .ant-back-top-icon {
        font-size: 24px;
        line-height: 40px;
      }
    }

    .ant-fade-appear,
    .ant-fade-enter,
    .ant-fade-leave {
      animation-duration: .2s;
      animation-fill-mode: both;

    }
  }

}

._1m0pVz8iNOboGDqVTeBfmy {
  position: absolute;
  right: 15px;
  display: none;

  ._2-i62DvrXpASKd_zBrhHUV {
    width: 25px;
    height: 4px;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    opacity: 1;
    transition: all .25s ease-in-out 0s;

  }

  ._2-i62DvrXpASKd_zBrhHUV:nth-of-type(2) {
    margin: 5px 0;
  }

}


nav {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  color: var(--main-text-color);
  font-size: 16px;
}

nav>ul {
  position: relative;
  width: 100%;
  margin: 0;
}

nav>ul>li:hover {
  color: var(--primary-color);
}

nav>ul>li {
  display: inline-flex;
  padding: 0 20px;
  vertical-align: middle;
  line-height: 64px;
}

nav>ul>li a {
  width: 100%;
  color: inherit;
}

nav>ul>li a.active {
  color: var(--primary-color);
}

nav>ul>li._38OmGXMfjYo_xu-5O1rJEK {
  font-size: 24px;
}

nav>ul ._38OmGXMfjYo_xu-5O1rJEK {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  float: right;

  .ant-dropdown-trigger {

    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  .anticon {
    display: inline-block;
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }


}

nav>ul>li {

  padding: 0 20px;
  vertical-align: middle;
  line-height: 64px;
}

._3M_Iyty-_u6Mq1VeSk14Rq>div {
  position: relative;
  display: flex;
  align-items: center;
}



._2BHtRLIf7EUPHvdL0oIKeR {
  position: relative;
  height: 24px;
  width: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

._2BHtRLIf7EUPHvdL0oIKeR ._2DxxB4r6HYBEDcLqnvTKMg {
  position: absolute;
  border-radius: 50%;
  top: 0;
  right: 0;
  transform: scale(0) translate(-100%, 35%);
  z-index: 9;
  transition: transform .4s;
  transform-origin: right;
  background: var(--sun-color);
}

._2BHtRLIf7EUPHvdL0oIKeR ._3FbZOtsOBAPa2UFFqIaC_z {
  position: relative;
  z-index: 3;
  background: var(--sun-color);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid var(--bg);
}

small {
  font-size: 80%;
}

._2BHtRLIf7EUPHvdL0oIKeR ._3Gvr4LAEinc-IIBjwFSMH_ {
  width: 2px;
  background: var(--sun-color);
  display: block;
  height: 125%;
  position: absolute;
  z-index: 2;
  transition: all .4s, height .3s ease-in-out;
}

._2BHtRLIf7EUPHvdL0oIKeR ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(3) {
  transform: rotate(calc(3 * calc(1turn / 12)));
}

._2BHtRLIf7EUPHvdL0oIKeR ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(4) {
  transform: rotate(calc(4 * calc(1turn / 12)));
}

._2BHtRLIf7EUPHvdL0oIKeR ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(5) {
  transform: rotate(calc(5 * calc(1turn / 12)));
}

._2BHtRLIf7EUPHvdL0oIKeR ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(6) {
  transform: rotate(calc(6 * calc(1turn / 12)));
}

._2BHtRLIf7EUPHvdL0oIKeR ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(7) {
  transform: rotate(calc(7 * calc(1turn / 12)));
}

._2BHtRLIf7EUPHvdL0oIKeR ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(8) {
  transform: rotate(calc(8 * calc(1turn / 12)));
}

._2BHtRLIf7EUPHvdL0oIKeR._1M2d1ahyt0GjdRDlVxVqCN ._2DxxB4r6HYBEDcLqnvTKMg {
  height: 28px;
  width: 28px;
  transform: scale(1) translate(35%, -35%);
  background: var(--bg);
}

._2BHtRLIf7EUPHvdL0oIKeR._1M2d1ahyt0GjdRDlVxVqCN ._3FbZOtsOBAPa2UFFqIaC_z {
  border-color: var(--sun-color);
}

._2BHtRLIf7EUPHvdL0oIKeR._1M2d1ahyt0GjdRDlVxVqCN ._3Gvr4LAEinc-IIBjwFSMH_ {
  height: 0;
  transition: .4s, transform .4s, height .2s .1s;
}

._2BHtRLIf7EUPHvdL0oIKeR._1M2d1ahyt0GjdRDlVxVqCN ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(3) {
  transform: rotate(calc(calc(3 * calc(1turn / 12)) - 45deg));
}

._2BHtRLIf7EUPHvdL0oIKeR._1M2d1ahyt0GjdRDlVxVqCN ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(4) {
  transform: rotate(calc(calc(4 * calc(1turn / 12)) - 45deg));
}

._2BHtRLIf7EUPHvdL0oIKeR._1M2d1ahyt0GjdRDlVxVqCN ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(5) {
  transform: rotate(calc(calc(5 * calc(1turn / 12)) - 45deg));
}

._2BHtRLIf7EUPHvdL0oIKeR._1M2d1ahyt0GjdRDlVxVqCN ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(6) {
  transform: rotate(calc(calc(6 * calc(1turn / 12)) - 45deg));
}

._2BHtRLIf7EUPHvdL0oIKeR._1M2d1ahyt0GjdRDlVxVqCN ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(7) {
  transform: rotate(calc(calc(7 * calc(1turn / 12)) - 45deg));
}

._2BHtRLIf7EUPHvdL0oIKeR._1M2d1ahyt0GjdRDlVxVqCN ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(8) {
  transform: rotate(calc(calc(8 * calc(1turn / 12)) - 45deg));
}

._2BHtRLIf7EUPHvdL0oIKeR:hover ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(3) {
  transform: rotate(calc(calc(3 * calc(1turn / 12)) - 20deg));
}

._2BHtRLIf7EUPHvdL0oIKeR:hover ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(4) {
  transform: rotate(calc(calc(4 * calc(1turn / 12)) - 20deg));
}

._2BHtRLIf7EUPHvdL0oIKeR:hover ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(5) {
  transform: rotate(calc(calc(5 * calc(1turn / 12)) - 20deg));
}

._2BHtRLIf7EUPHvdL0oIKeR:hover ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(6) {
  transform: rotate(calc(calc(6 * calc(1turn / 12)) - 20deg));
}

._2BHtRLIf7EUPHvdL0oIKeR:hover ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(7) {
  transform: rotate(calc(calc(7 * calc(1turn / 12)) - 20deg));
}

._2BHtRLIf7EUPHvdL0oIKeR:hover ._3Gvr4LAEinc-IIBjwFSMH_:nth-child(8) {
  transform: rotate(calc(calc(8 * calc(1turn / 12)) - 20deg));
}

._2BHtRLIf7EUPHvdL0oIKeR._1M2d1ahyt0GjdRDlVxVqCN:hover ._2DxxB4r6HYBEDcLqnvTKMg {
  transform: scale(1) translate(20%, -40%);
}


._3SL8bXyPeDS8XR5EoRJ31s a {
  color: #c1bdbd;
}







@media (max-width: 768px) {
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

    nav {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100vw;
      max-height: 0;
      padding: 0 15px;
      margin-left: 0;
      background-color: var(--bg);
      overflow: hidden;
      transition: max-height .25s;
      z-index: 100;

    }


    nav._1KU4i5t4zJjAhq0ZlikqlG {
      max-height: 100vh;
      overflow: auto;
    }

    nav>ul {
      width: 100%;

    }

    nav>ul>li:first-child {
      margin-top: 24px;
    }

    nav>ul>li:hover {
      color: var(--primary-color);
    }

    nav>ul>li:first-of-type {
      padding-left: 0;
    }

    nav>ul>li {
      display: flex;
      padding: 0;
      line-height: 48px;
    }

    nav>ul>li {
      text-align: center;
    }

    nav>ul ._38OmGXMfjYo_xu-5O1rJEK {
      height: 48px;
      float: none;
    }

    ._1m0pVz8iNOboGDqVTeBfmy {
      display: block;
    }


  }

}

._3M_Iyty-_u6Mq1VeSk14Rq ._1m0pVz8iNOboGDqVTeBfmy._1KU4i5t4zJjAhq0ZlikqlG ._2-i62DvrXpASKd_zBrhHUV:first-of-type {
  transform: translateY(9px) rotate(45deg);
}

._3M_Iyty-_u6Mq1VeSk14Rq ._1m0pVz8iNOboGDqVTeBfmy._1KU4i5t4zJjAhq0ZlikqlG ._2-i62DvrXpASKd_zBrhHUV:nth-of-type(2) {
  opacity: 0;
}

._3M_Iyty-_u6Mq1VeSk14Rq ._1m0pVz8iNOboGDqVTeBfmy._1KU4i5t4zJjAhq0ZlikqlG ._2-i62DvrXpASKd_zBrhHUV:last-of-type {
  transform: translateY(-9px) rotate(-45deg);
}



@media (min-width: 768px) {

  .container {
    width: 768px;




  }




}

@media (min-width: 992px) {
  .container {
    width: 970px
  }

}

@media (min-width: 1200px) {
  .container {
    width: 1140px
  }

}
