.aside {
  width: 20rem;
  margin-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: sticky;
  top: 1rem;
  margin-bottom: 1rem;
  position: -webkit-sticky;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
  margin-bottom: 1rem;
}

.sticky_top {
  border-radius: var(--border-radius);
  background-color: var(--bg-second);
  box-shadow: var(--box-shadow);
  margin-bottom: 1.3rem;
  line-height: 1.29;
  overflow: hidden;

}

.sticky_top_top {
  padding: 1rem;
  border-bottom: 1px solid var(--border-color);
  color: var(--main-text-color);
  font-weight: 700;
}

.sticky_top_bottom {
  padding: 0 1rem 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
}

.sticky_top_bottom ul {
  margin: 0;
  padding: 0;
}

.sticky_top_bottom ul li {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  padding-top: 1rem;
  color: var(--second-text-color);

  a {
    color: var(--main-text-color);
  }

  a:hover {
    color: var(--primary-color);
  }

  a.active {
    color: var(--primary-color);
  }
}

.sticky_bottom {
  border-radius: var(--border-radius);
  // margin-bottom: 1.3rem;
  background-color: var(--bg-second);
  box-shadow: var(--box-shadow);
  // line-height/: 1.29;
  overflow: hidden;
}


.sticky_bottom_top {
  padding: 1rem;
  border-bottom: 1px solid var(--border-color);
  color: var(--main-text-color);
  font-weight: 700;
}

.sticky_bottom_bottom {
  padding: 0 10px;
  color: var(--second-text-color);

  a {
    color: var(--main-text-color);
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
  }

  a:hover {
    color: var(--primary-color);
  }

  a.active {
    color: var(--primary-color);
  }
}

.sticky_bottom_bottom li {
  margin: 10px 0;
}
