.editor{
    height:calc(100vh - 28px);
}
:global{
    section .for-container{
        height: 100%;
    }
}
iframe{
    width: 100%;
    height: 100%;
}
header{
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    .btn{
        width: 24px;
        height: 24px;
        background:none;
        outline: none;
        border: 1px solid #ccc;
        text-align: center;
        line-height: 24px;
        font-size: 16px;
    }
    .inp{
        width: 240px;
        height: 35px;
        border: none;
        border-bottom: 1px solid rgb(206, 206, 206);
        outline: none;
        margin-left: 12px;
    }
    .btn2{
        width: 64px;
        height: 32px;
        background:#0188f8;
        color: #fff;
        font-size: 14px;
        border: none;
        text-align: center;
        line-height: 32px;
     
            margin:0 12px 0 0;
        
    }
}