<template>
  <view class="main">
    <div class="main_top">
      <div class="main_left">
        <dl>
          <dd>
            <open-data type="userAvatarUrl" class="main_img"></open-data>
          </dd>
          <dt>
            <p>
              <open-data type="userNickName" lang="zh_CN"></open-data>
            </p>
            <p>用户ID: {{ usermessage.uid }}</p>
          </dt>
        </dl>
      </div>
      <div class="main_right">
        <button @click="goPromotion">加入推广</button>
      </div>
    </div>
    <div class="main_content">
      <div class="main_content_top">
        <dl @click="goCoupon">
          <dt>
            <img
              src="../../static/main/5E5C723949E9468FD59A0D268D1FF00D.png"
              alt=""
            />
          </dt>
          <dd>优惠券<span class="red"></span></dd>
        </dl>

        <div class="hr"></div>
        <dl @click="goCollect">
          <dt>
            <img
              src="../../static/main/C68B90B26C7929F6CD1DBDB643143C44.png"
              alt=""
            />
          </dt>
          <dd>收藏</dd>
        </dl>
      </div>
      <div class="main_content_bottom">
        <div class="main_content_bottom1">
          <li>订单</li>
          <li>全部订单></li>
        </div>
        <div class="main_content_bottom2">
          <dl @click="goTasty(0)">
            <dt>
              <img
                src="../../static/main/15EDB5205E132108F0C92A5BCBEC5397.png"
                alt=""
              />
            </dt>
            <dd>待付款</dd>
          </dl>
          <dl @click="goTasty(1)">
            <dt>
              <img
                src="../../static/main/EA42B86F11B90F72EA9443E4A9217B5F.png"
                alt=""
              />
            </dt>
            <dd>待发货</dd>
          </dl>
          <dl @click="goTasty(2)">
            <dt>
              <img
                src="../../static/main/5EB78C5860A275EA7FADA93F15F34B46.png"
                alt=""
              />
            </dt>
            <dd>可使用</dd>
          </dl>
          <dl @click="goTasty(3)">
            <dt>
              <img
                src="../../static/main/5DD0A53A88E888FC2A1CC180781198C5.png"
                alt=""
              />
            </dt>
            <dd>待评价</dd>
          </dl>
          <dl @click="goTasty(4)">
            <dt>
              <img
                src="../../static/main/B86B7AD9AE35F319EDBF3196F4EF9897.png"
                alt=""
              />
            </dt>
            <dd>退款/售后</dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="main_content2">
      <div>
        <dl @click="goNeck">
          <dd>
            <img
              src="../../static/main/5001CD565D9E0752732010386F770500.png"
              alt=""
            />
          </dd>
          <dt>
            <p>领券中心</p>
            <p>免费领取优惠券</p>
          </dt>
        </dl>
      </div>
      <div>
        <dl>
          <dd>
            <img
              src="../../static/main/C07E22CBB94BAE8B545BAE5A875B9585.png"
              alt=""
            />
          </dd>
          <dt>
            <p>美味心选</p>
            <p>美味旗下官方商城</p>
          </dt>
        </dl>
      </div>
    </div>
    <div class="main_bottom">
      <ul>
        <li>
          <div><span>意见反馈</span><span>></span></div>
        </li>
        <li>
          <div><span>设置</span><span>></span></div>
        </li>
        <li>
          <div @click="setmaskflag()">
            <span
              >联系我们 <span class="main_bottom_text">400—8166-477</span></span
            ><span>></span>
          </div>
        </li>
      </ul>
      <div v-show="maskflag" class="maskdiv" @click="setmaskflag()">
        <div class="maskbtn">
          <button>400-8166-477</button>
          <button @click="(e) => getmaskflag(e)">取消</button>
        </div>
      </div>
    </div>
  </view>
</template>

<script>
import { mapActions, mapState } from "vuex";
export default {
  data() {
    return {
      maskflag: false,
    };
  },
  mounted() {},
  methods: {
    ...mapActions({
      getCouponList: "coupon/getCouponList",
      getMainUser: "main/getMainUser",
    }),
    setmaskflag() {
      this.maskflag = !this.maskflag;
    },
    getmaskflag(e) {},
    goPromotion() {
      wx.navigateTo({ url: "/pages/promotion/index" });
    },
    goTasty(ind) {
      wx.navigateTo({ url: `/pages/tasty/index?ind=${ind}` });
    },
    goCoupon() {
      wx.navigateTo({ url: "/pages/coupon/index" });
    },
    goCollect() {
      wx.navigateTo({ url: "/pages/collect/index" });
    },
    godet() {
      console.log("qwe");
    },
    goNeck() {
      wx.navigateTo({ url: "/pages/neck/index" });
    },
  },
  computed: {
    ...mapState({
      usermessage: (state) => state.main.usermessage,
      couponList: (state) => state.coupon.couponList,
    }),
  },
  created() {
    this.getMainUser();
    this.getCouponList(0);
  },
};
</script>

<style lang="scss" scoped>
.main {
  padding: 0 30rpx;
  width: calc(100px 60rpx);
  height: 100%;
  .red {
    width: 20rpx;
    height: 20rpx;
    background: #ee766e;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    top: -19rpx;
    right: 0;
  }
  .main_content2 {
    margin-top: 40rpx;
    height: 160rpx;
    width: 100%;
    display: flex;
    justify-content: space-between;
    div {
      width: 48%;
      border-radius: 10px;
      border: 1px solid #ececec;
      dl {
        margin-top: 25rpx;
        margin-left: 30rpx;
        display: flex;
        align-items: center;
        dd {
          width: 100rpx;
          height: 100rpx;
          margin-right: 24rpx;
          img {
            width: 100rpx;
            height: 100rpx;
          }
        }
        dt {
          display: flex;
          flex-direction: column;
          justify-content: center;
          p {
            margin-top: 14rpx;
            &:nth-child(2) {
              color: #999;
              font-size: 22rpx;
              margin-top: 20rpx;
            }
          }
        }
      }
    }
  }
  .main_content {
    width: 100%;
    height: 320rpx;
    border: 1px solid #ececec;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    .main_content_bottom {
      padding: 0 40rpx;
      width: calc(100%-80rpx);
      flex: 1;
      display: flex;
      flex-direction: column;
      .main_content_bottom2 {
        display: flex;
        margin-top: 15rpx;
        align-items: center;
        justify-content: space-between;
        dl {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          dd {
            margin-top: 10rpx;
            font-size: 24rpx;
          }
          dt {
            width: 60rpx;
            height: 60rpx;
            img {
              width: 60rpx;
              height: 60rpx;
            }
          }
        }
      }
      .main_content_bottom1 {
        border-top: 1px solid #ececec;
        height: 80rpx;
        display: flex;
        align-items: center;
        justify-content: space-between;
        li {
          &:nth-child(2) {
            color: #999;
          }
        }
      }
    }
    .main_content_top {
      width: 100%;
      height: 100rpx;
      line-height: 100rpx;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .hr {
        width: 1px;
        height: 60rpx;
        background: #ececec;
      }
      dl {
        display: flex;
        align-items: center;
        justify-content: center;
        dt {
          width: 60rpx;
          height: 60rpx;
          margin-right: 20rpx;
          img {
            width: 60rpx;
            height: 60rpx;
          }
        }
      }
    }
  }
  .main_top {
    width: 100%;
    height: 160rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .main_left {
      dl {
        display: flex;
        dt {
          display: flex;
          flex-direction: column;
          justify-content: center;
          p {
            margin-top: 10rpx;
            &:nth-child(2) {
              color: #999;
              font-size: 24rpx;
            }
          }
        }
        dd {
          width: 120rpx;
          height: 120rpx;
          border-radius: 50%;
          margin-right: 22rpx;
          overflow: hidden;
        }
      }
    }
    .main_right {
      button {
        background: #d75146;
        color: #fff;
        height: 60rpx;
        font-size: 24rpx;
        line-height: 60rpx;
        border-radius: 50px;
      }
    }
  }
  .main_bottom {
    .maskdiv {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.3);
      .maskbtn {
        width: 100%;
        height: 80rpx;
        position: absolute;
        bottom: 95rpx;
        left: 0;
        z-index: 99999;
        button {
          &:nth-child(2) {
            margin-top: 10rpx;
          }
        }
      }
    }
    ul {
      li {
        margin-top: 50rpx;
        div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          span {
            .main_bottom_text {
              margin-left: 20rpx;
              font-size: 26rpx;
            }
            &:nth-child(2),
            .main_bottom_text {
              color: #999;
            }
          }
        }
      }
    }
  }
}
</style>