.about_warp {
  max-width: 800px;
  margin: 0 auto;
  padding: 1px 16px;
  height: 100%;
  .about_foot{
    margin-top: 20px;
  }
  textarea {
    border-color: var(--comment-editor-border-color);
    color: var(--main-text-color);
    background-color: var(--bg-second);
    box-shadow: none !important;
    height: 142px;
    min-height: 142px;
    max-height: 274px;
    overflow-y: hidden;
    width: 100%;
    resize: none;
  }

  .recomend {
    padding: 16px;
    margin-bottom: 2.5rem;
    background-color: var(--bg-second);
  }
.about_page{
  border-radius: var(--border-radius);
background-color: var(--bg-second);
  .about_page_content{
    text-align: center;
    padding: 16px 0px;
    margin-top: 16px;
color: var(--second-text-color);
text-align: center;
}
}
  .about_h2 {
    text-align: center;
    color: var(--main-text-color);
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  .about_h3 {
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 16px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    letter-spacing: .06em;
  }

  .wrapper {
    .about_content {
      width: 100%;
      margin-top: 16px;
      }
      .about_img{
        width: 100%;
        height: 100%;
        img{
          width: 100%;
        }
      }
    }
}

.aboutdiv {
  overflow: hidden;
  color: var(--main-text-color);
  padding: 16px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin-top: 1rem;
  background-color: var(--bg-second);
  overflow: hidden;
.about_content2{
  margin-left: 30px;
}
  svg {
    margin-bottom: -1px;
    margin-right: 4px;
  }

  .aboutconent {
    color: var(--main-text-color);
    padding-left: 40px;
  }
}
.aboutrever2{
  padding-left: 40px;
}
.aboutrevert {
  color: var(--disable-text-color);
}

.aboutname {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  display: inline-block;
  // background: aquamarine;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
}

.reply {
  margin-left: 7px;
  cursor: pointer;

  &:hover {
    color: red;
  }
.about_content {
  border-radius: var(--border-radius);
  background-color: var(--bg-second);
  box-shadow: var(--box-shadow);
  padding: 16px;

  svg {
    margin-bottom: 3px;
    margin-left: 4px;
    transform: translateY(1px);
    color: var(--main-text-color);
  }
}
}