.page{
    width: 100%;
    .ant-modal-content{
        height: 403px;
    }
    .page_content{
        background: rgb(255, 255, 255);
        padding: 24px 12px;
        .table{
            position: relative;
            .table_btn{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 16px;
                font-size: 1.1em;
                .table_btnleft{
                    :nth-child(3){
                        color: #ff4d4f;
                        background: #fff;
                        border-color: #ff4d4f;
                    }
                }
                .table_btnright{
                    text-align: right;
                }
            }
        }
        .total{
            position: absolute;
            bottom:20px;
            right: 244px;
        }
    }
}